<template>
    <p style="height: 100vh; background: white;">Logging in with Discord, please wait...</p>
</template>

<script>
    export default {
        name: "DiscordAuth",
        mounted() {
            // Discord Callback
            let hashes = this.$route.hash.slice(1).split('&');
            let hashParameters = {};
            let hasParameters = false;
            hashes.forEach(param => {
                let splitParams = param.split('=');
                hashParameters[splitParams[0]] = splitParams[1];

                if (splitParams[0] === 'token_type' || splitParams[0] === 'access_token') {
                    hasParameters = true;
                }
            });

            if (!hasParameters) {
                return;
            }

            this.$cookies.set('discord-token-type', hashParameters['token_type'], `${hashParameters['expires_in']}s`);
            this.$cookies.set('discord-access-token', hashParameters['access_token'], `${hashParameters['expires_in']}s`);
            this.$http.get(`https://tournaments.hitmaps.com/api/admin-permissions?accessToken=${hashParameters['access_token']}`)
                .then(resp => {
                    if (resp.data.admin || resp.data.rouletteAdmin) {
                        this.$cookies.set('discord-admin', 'Y', `${hashParameters['expires_in']}s`);
                    }
                    window.location.href = '/';
                }).catch(err => console.error(err));
        }
    }
</script>

<style lang="scss" scoped>
body {
    background-color: white;
}
</style>
