<template>
    <div class="body">
        <nav class="navbar navbar-expand-lg">
            <a href="https://www.hitmaps.com" target="_blank" class="navbar-brand">
                <img src="@/assets/logo.png" class="img-fluid mr-auto">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://gm.hitmaps.com" target="_blank"
                           data-toggle="modal" data-target="#in-game-setup-modal">
                            In-Game Roulette <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <modal modal-title="In-Game Roulette"
                   id="in-game-setup-modal"
                   tabindex="-1"
                   role="dialog"
                   dismissable>
                <p>Introducing the In-Game HITMAPS&trade; Roulette. Now you can enjoy the majority of features directly in HITMAN&trade; 3. Due to technical reasons, this is only available on PC.</p>
                <h3>Setup Instructions</h3>
                <ol>
                    <li>Download the latest version of the LocalGhost patcher: <a href="https://gitlab.com/grappigegovert/localghost/-/jobs/artifacts/multiversion/download?job=build_patcher" target="_blank">Download Here</a></li>
                    <li>In the LocalGhost patcher, select <code>gm.hitmaps.com - Eastern US</code> as the server</li>
                    <li>Launch HITMAN 3. If you connected to HITMAPS' server, you will see a "HITMAPS Roulette" tile where the "Story" tile normally is</li>
                </ol>
                <h3>Switching Back to IOI's Servers</h3>
                <p>When you are done on the HITMAPS server, simply exit <b>both</b> HITMAN 3 and the LocalGhost patcher. Then, re-launch HITMAN 3 to connect to IOI's servers.</p>
                <p>NOTE: Do NOT attempt to switch to IOI's server without exiting HITMAN 3; issues may occur.</p>
                <h3>Frequently Asked Questions</h3>
                <p><b>"All of my progression is gone!"</b> - This is normal when on HITMAPS' server. We do not look at any
                    information from IOI, so your experience (inventory, etc) will look different. Don't worry; all of
                    your progression is still on IOI's servers and will be visible next time you return to the official servers.</p>
                <p><b>"There aren't any leaderboards!"</b> - Leaderboards are still being worked on at this time.</p>
                <p><b>"I ran into an issue!"</b> - Let MrMike know on the HITMAPS Discord, and he will look into it.</p>
                <h3>Legal</h3>
                <p>The In-Game HITMAPS&trade; Roulette is not an official game mode, and has not been endorsed or sponsored by IO Interactive in any way.</p>
            </modal>
        </nav>
        <div v-if="tournament.mode && tournament.step === 1" class="row filters">
            <div class="col-12">
                <div class="filter tourney-setup">
                    <div class="row">
                        <div class="col-12">
                            <h1>Tournament Setup</h1>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h2>Ad-Hoc Match</h2>
                            <form class="form">
                                <label for="player-one-tournament" style="margin-right: .5rem">Participant #1's Name</label>
                                <input class="form-control mb-2 mr-sm-2" id="player-one-tournament" type="text" v-model="tournament.playerOneName">
                                <label for="player-two-tournament" style="margin-right: .5rem">Participant #2's Name</label>
                                <input class="form-control mb-2 mr-sm-2" id="player-two-tournament" type="text" v-model="tournament.playerTwoName">
                            </form>
                            <div class="row utilities" style="margin-top: 10px;">
                                <div class="col-sm-12" v-if="getCookie('discord-admin') === 'Y'">
                                    <button @click="startTournament" style="border: solid 1px #000">
                                        <game-icon font-style="normal" icon="play" style="font-size: 1.4rem; margin-right: 5px" />
                                        <span class="text">Start Ad-Hoc Matchup</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>HITMAPS&trade; Tournaments</h2>
                            <div class="row utilities" v-if="!cookieExists('discord-access-token') && !cookieExists('discord-token-type')">
                                <div class="col-sm-12">
                                    <a :href="`https://discord.com/api/oauth2/authorize?client_id=681919936469401687&redirect_uri=${encodeURI(this.$vueDomain)}/auth&response_type=token&scope=connections%20identify%20guilds`" class="btn blurple">
                                        <i class="fab fa-discord"></i> Login with Discord
                                    </a>
                                </div>
                            </div>
                            <template v-else-if="cookieExists('discord-admin')">
                                <form class="form">
                                    <label for="upcoming-matches-select">Select Match (Current Event: Roulette Rivals 4)</label>
                                    <p v-if="tournament.upcomingMatches === undefined">Loading matches, please wait...</p>
                                    <p v-else-if="!tournament.upcomingMatches.length">No upcoming matches</p>
                                    <select v-else v-model="tournament.hitmapsMatchId" name="upcoming-matches" id="upcoming-matches-select" class="form-control" style="width: 100%">
                                        <option v-for="match in tournament.upcomingMatches" :key="match.matchSupplementalId" :value="match.matchSupplementalId">
                                            {{ match.participants[0].name }} ({{ match.firstMap.location }}) vs {{ match.participants[1].name }} ({{ match.secondMap.location }})
                                        </option>
                                    </select>
                                </form>
                                <div class="row utilities" style="margin-top: 10px;">
                                    <div class="col-sm-12">
                                        <button @click="beginHitmapsMatch" style="border: solid 1px #000">
                                            <game-icon font-style="normal" icon="play" style="font-size: 1.4rem; margin-right: 5px" />
                                            <span class="text">Start Tournament Matchup</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <button @click="logout" class="blurple">
                                        <span class="fa-stack">
                                            <i class="fal fa-square fa-stack-2x"></i>
                                            <i class="fab fa-discord"></i>
                                        </span>
                                            <span class="text"> Logout </span>
                                        </button>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div>Only Frote's Speedrun Community Admins can start HITMAPS&trade; Tournaments matches</div>
                                <div class="row utilities">
                                    <div class="col-sm-12">
                                        <button @click="logout" class="blurple">
                                        <span class="fa-stack">
                                            <i class="fal fa-square fa-stack-2x"></i>
                                            <i class="fab fa-discord"></i>
                                        </span>
                                            <span class="text"> Logout </span>
                                        </button>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row utilities" style="margin-top: 10px;">
                    <div class="col-sm-12" :class="getCookie('discord-admin') === 'Y' ? '' : 'col-lg-6'">
                        <button @click="stopTournamentMode">
                            <game-icon font-style="normal" icon="challenge" style="font-size: inherit; margin-right: 5px" />
                            <span class="text">Disable Tournament Mode</span>
                        </button>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <button @click="startTournament" v-if="!cookieExists('discord-admin') || getCookie('discord-admin') !== 'Y'">
                            <span class="fa-stack">
                                <i class="fal fa-square fa-stack-2x"></i>
                                <i class="fas fa-play"></i>
                            </span>
                            <span class="text">Start Matchup</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="row filters">
                <div class="col-sm-12">
                    <template v-if="tournament.mode && tournament.step > 1">
                        <div class="tournament-info">
                            <template v-if="tournament.hitmapsMatch">
                                <div class="row">
                                    <div class="player-col col-md-6 col-sm-12">
                                        <div class="player red">
                                            <div class="name">
                                                {{ tournament.players[0].name }}
                                            </div>
                                            <div class="score">
                                                {{ tournament.players[0].score }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="player-col col-md-6 col-sm-12">
                                        <div class="player blue">
                                            <div class="score">
                                                {{ tournament.players[1].score }}
                                            </div>
                                            <div class="name">
                                                {{ tournament.players[1].name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <div class="filter roulette-filter">
                                <div class="row game-row">
                                    <div class="col">
                                        <h1>TOURNAMENT INFO</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <h2>MATCH STATUS</h2>
                                        <p v-if="tournament.step === 2" class="">
                                            <i class="fas fa-circle" style="color: green"></i>
                                            Match created. Send spin when ready.
                                        </p>
                                        <p v-if="tournament.step === 3">
                                            <i class="fas fa-circle" style="color: green"></i>
                                            Spin Sent to Participants ({{ tournament.spinSendTime.toLocaleString('en-US') }})
                                        </p>
                                        <template v-if="tournament.hitmapsMatchId">
                                            <p>
                                                <button class="btn btn-block challonge-orange" @click="postToChallonge">
                                                    <svg viewBox="0 0 78 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g id="logo_challonge_dark" transform="translate(0.000000, 1.000000)" fill="white">
                                                                <g id="g3250" transform="translate(0.177760, 0.000000)">
                                                                    <g id="g3254">
                                                                        <path d="M75.496,17.625 C53.644,23.23 34.261,33.146 18.695,49.873 C22.621,54.124 27.111,55.428 32.439,56.423 C43.882,44.618 57.909,37.12 73.704,32.568 C77.585,31.448 75.627,21.115 75.496,17.625 L75.496,17.625 Z" id="path3256"></path>
                                                                        <path d="M17.925,18.311 C1.571,27.753 -4.033,48.672 5.408,65.025 C10.283,73.468 18.218,79.046 27.002,81.166 C53.507,87.551 75.657,59.281 74.72,34.476 C59.661,38.948 46.573,46.268 35.865,57.025 C67.325,62.447 38.969,84.632 18.814,71.009 C4.357,61.237 2.67,42.902 10.885,29.184 C15.932,20.755 22.997,17.538 31.518,13.903 C26.866,14.379 22.236,15.821 17.925,18.311 L17.925,18.311 Z" id="path3258"></path>
                                                                        <path d="M75.387,0 C46.351,8.964 14.974,17.076 13.165,35.94 C12.763,38.743 13.354,41.802 15.305,45.18 C15.93,46.261 16.568,47.228 17.222,48.099 C32.134,31.207 51.189,21.179 73.827,15.408 C77.742,14.41 75.519,3.489 75.387,-5.32907052e-15 L75.387,0 Z" id="path3260"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                    Send Results to Challonge
                                                </button><br>
                                                <span v-if="tournament.postedToChallonge">Score successfully pushed to Challonge</span>
                                            </p>
                                            <p>
                                                <button class="btn btn-block btn-dark draw" @click="processCompletion(-1, 'DRAW')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12 7.998H8v4H6v-4H2v-2h4v-4h2v4h4zm10 10h-8v-2h8zM18.5 4L4 18.5L5.5 20L20 5.5z" fill="#626262"/></svg>
                                                    Call a Draw (1 pt for each participant)
                                                </button>
                                            </p>
                                            <div>
                                                <p>Completed Sets:</p>
                                                <ul>
                                                    <li v-for="history in tournament.scoreHistory">
                                                        {{ history[0] < 0 ? `(${history[0]})` : history[0] }} - {{ history[1] < 0 ? `(${history[1]})` : history[1] }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </template>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <h2>STREAM OVERLAY</h2>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Style & Dimensions</th>
                                                <th>Overlay Link</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select v-model="tournament.overlay.style">
                                                        <option value="tournament-overlay" v-if="tournament.hitmapsMatchId">Tournament (1920px x 395px)</option>
                                                        <option value="overlay" selected>Wide (1300px x 600px)</option>
                                                        <option value="classic-overlay">Square-ish (800px x 600px)</option>
                                                        <option value="vertical-overlay">Vertical (650px x 1100px)</option>
                                                    </select>
                                                </td>
                                                <td><button type="button" class="btn btn-light" @click="copyStreamOverlayLink"><i class="fas fa-clipboard"></i> Copy to Clipboard</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p>Once copied, paste the link into a Browser source in OBS.</p>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <h2>{{ tournament.playerOneName }}</h2>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th v-if="tournament.hitmapsMatchId">Score</th>
                                                <th>Spin Link</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><i class="fas fa-circle" :style="'color: ' + tournament.playerOneStatus.color" :title="tournament.playerOneStatus.text"></i></td>
                                                <td v-if="tournament.hitmapsMatchId">
                                                    <select v-model="tournament.players[0].score" @change="updateScore(false)" :disabled="tournament.scoreUpdating">
                                                        <option v-for="(x, i) in 12">{{ i }}</option>
                                                    </select>
                                                </td>
                                                <td><button type="button" class="btn btn-light" @click="copyMatchUrl(tournament.playerOneName)"><i class="fas fa-clipboard"></i> Copy to Clipboard</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div v-if="tournament.players[0].finished">
                                            <p>
                                                <i class="fas fa-2x fa-exclamation-triangle flash"></i><br>
                                                {{ tournament.playerOneName }} has finished at {{ tournament.players[0].finished | moment('timezone', Intl.DateTimeFormat().resolvedOptions().timeZone, 'HH:mm:ss') }}! Please confirm.
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <button class="btn btn-block btn-success" @click="processCompletion(0, 'ACCEPT')">
                                                        <i class="fas fa-check"></i>
                                                        Accept
                                                    </button>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <button class="btn btn-block btn-danger" @click="processCompletion(0, 'REJECT')">
                                                        <i class="fas fa-times"></i>
                                                        Reject
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row" v-if="getTimeDifference() < 31" style="margin-top: 10px; background: yellow; color: black; padding: 10px;">
                                                <div class="col">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                    POSSIBLE PHOTO FINISH ({{ getTimeDifference() }} seconds apart)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <h2>{{ tournament.playerTwoName }}</h2>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th v-if="tournament.hitmapsMatchId">Score</th>
                                                <th>Spin Link</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><i class="fas fa-circle" :style="'color: ' + tournament.playerTwoStatus.color" :title="tournament.playerTwoStatus.text"></i></td>
                                                <td v-if="tournament.hitmapsMatchId">
                                                    <select v-model="tournament.players[1].score" @change="updateScore(false)" :disabled="tournament.scoreUpdating">
                                                        <option v-for="(x, i) in 12">{{ i }}</option>
                                                    </select>
                                                </td>
                                                <td><button type="button" class="btn btn-light" @click="copyMatchUrl(tournament.playerTwoName)"><i class="fas fa-clipboard"></i> Copy to Clipboard</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div v-if="tournament.players[1].finished">
                                            <p>
                                                <i class="fas fa-2x fa-exclamation-triangle flash"></i><br>
                                                {{ tournament.playerTwoName }} has finished at {{ tournament.players[1].finished | moment('timezone', Intl.DateTimeFormat().resolvedOptions().timeZone, 'HH:mm:ss') }}! Please confirm.
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <button class="btn btn-block btn-success" @click="processCompletion(1, 'ACCEPT')">
                                                        <i class="fas fa-check"></i>
                                                        Accept
                                                    </button>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <button class="btn btn-block btn-danger" @click="processCompletion(1, 'REJECT')">
                                                        <i class="fas fa-times"></i>
                                                        Reject
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="row filters">
                <div class="col-lg-9 col-sm-12">
                    <div class="filter mission-filter">
                        <div class="row game-row">
                            <div class="col">
                                <template v-if="selectedMission">
                                    <h1>CURRENT MISSION: {{ selectedMission.name }}</h1>
                                </template>
                                <template v-else>
                                    <h1>SELECT MISSION</h1>
                                </template>
                                <span>Missions</span>
                                <button class="btn" data-toggle="collapse" data-target="#mission-select"
                                        aria-expanded="true"
                                        aria-controls="mission-select"
                                        ref="expandCollapseButton"
                                        @click="missionSelectCollapsed = !missionSelectCollapsed">
                                    <i class="fas fa-chevron-down" v-if="missionSelectCollapsed"></i>
                                    <i class="fas fa-chevron-up" v-else></i>
                                </button>
                            </div>
                        </div>
                        <div class="collapse show" id="mission-select">
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col" :style="{
                                    marginLeft: '5px'
                                }">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3>HITMAN&trade;</h3>
                                        </div>
                                    </div>
                                    <div class="row" v-for="location in hitmanLocations"
                                         :key="location.id"
                                         :style="{
                                            background:
                                                'url(' + location.backgroundUrl + ') no-repeat center center',
                                            backgroundSize: 'cover'
                                        }">
                                        <div v-for="mission in location.missions.filter(mission => hitmanMissions.find(m => m.slug === mission.slug) !== undefined)" :key="mission.id"
                                             class="col-12">
                                            <div @click="setActiveMission(hitmanMissions.find(m => m.slug === mission.slug))" class="row mission" :class="selectedMission === mission ? 'selected': ''">
                                                <div class="col-3 mission-image"
                                                     :style="{
                                                    background:
                                                        'url(' + mission.tileUrl + ') no-repeat center center',
                                                    backgroundSize: 'cover'
                                                }">
                                                    &nbsp;
                                                </div>
                                                <div class="col-9 mission-info">
                                                    <div class="text">
                                                        <h2>{{ mission.missionType }}</h2>
                                                        <h1>{{ mission.name }}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h3>HITMAN&trade; 2</h3>
                                        </div>
                                    </div>
                                    <div class="row" v-for="location in hitman2Locations"
                                         :key="location.id"
                                         :style="{
                                            background:
                                                'url(' + location.backgroundUrl + ') no-repeat center center',
                                            backgroundSize: 'cover'
                                        }">
                                        <div v-for="mission in location.missions.filter(mission => hitman2Missions.find(m => m.slug === mission.slug) !== undefined)" :key="mission.id"
                                             class="col-12">
                                            <div @click="setActiveMission(hitman2Missions.find(m => m.slug === mission.slug))" class="row mission" :class="selectedMission === mission ? 'selected': ''">
                                                <div class="col-3 mission-image"
                                                     :style="{
                                                    background:
                                                        'url(' + mission.tileUrl + ') no-repeat center center',
                                                    backgroundSize: 'cover'
                                                }">
                                                    &nbsp;
                                                </div>
                                                <div class="col-9 mission-info">
                                                    <div class="text">
                                                        <h2>{{ mission.missionType }}</h2>
                                                        <h1>{{ mission.name }}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" :style="{
                                    marginRight: '5px'
                                }">
                                    <div class="row">
                                        <div class="col">
                                            <h3>HITMAN&trade; 3</h3>
                                        </div>
                                    </div>
                                    <div class="row" v-for="location in hitman3Locations"
                                         :key="location.id"
                                         :style="{
                                            background:
                                                'url(' + location.backgroundUrl + ') no-repeat center center',
                                            backgroundSize: 'cover'
                                        }">
                                        <div v-for="mission in location.missions.filter(mission => hitman3Missions.find(m => m.slug === mission.slug) !== undefined)" :key="mission.id"
                                             class="col-12">
                                            <div @click="setActiveMission(hitman3Missions.find(m => m.slug === mission.slug))" class="row mission" :class="selectedMission === mission ? 'selected': ''">
                                                <div class="col-3 mission-image"
                                                     :style="{
                                                    background:
                                                        'url(' + mission.tileUrl + ') no-repeat center center',
                                                    backgroundSize: 'cover'
                                                }">
                                                    &nbsp;
                                                </div>
                                                <div class="col-9 mission-info">
                                                    <div class="text">
                                                        <h2>{{ mission.missionType }}</h2>
                                                        <h1>{{ mission.name }}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="filter roulette-filter">
                        <div class="row game-row">
                            <div class="col">
                                <h1>OPTIONS</h1>
                                <p>&nbsp;</p>
                                <button class="btn" data-toggle="collapse" data-target="#filter-select"
                                        aria-expanded="true"
                                        aria-controls="filter-select"
                                        @click="filterSelectCollapsed = !filterSelectCollapsed">
                                    <i class="fas fa-chevron-down" v-if="filterSelectCollapsed"></i>
                                    <i class="fas fa-chevron-up" v-else></i>
                                </button>
                            </div>
                        </div>
                        <div class="collapse show" id="filter-select">
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-checkbox" v-for="criteriaFilter in criteriaFilters">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input type="checkbox" class="custom-control-input" :id="criteriaFilter.internalId"
                                               v-model="criteriaFilter.selected"
                                               @change="spin">
                                        <label class="custom-control-label" :for="criteriaFilter.internalId">
                                            {{ criteriaFilter.label }}
                                        </label>
                                    </div>
                                    <!--<div class="tournament-mode-toggle">
                                        <span>Tournament Mode</span>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-light active">
                                                <input type="radio" name="options" id="option1" checked> Disabled
                                            </label>
                                            <label class="btn btn-light">
                                                <input type="radio" name="options" id="option2"> Enabled
                                            </label>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="targets">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 target" v-for="spinResult in getTargetsForMission()">
                        <div class="hitman-card">
                            <div class="target-info-image d-none d-md-flex" :style="{ background: `url(${spinResult.target.tileUrl}) center center / cover no-repeat` }">
                                <div class="image">
                                    <game-icon icon="target" font-style="solid" style="color: white" />
                                </div>
                                <div class="text">
                                    <h2>Target</h2>
                                    <h1>{{ spinResult.target.name }}</h1>
                                </div>
                            </div>
                            <div class="spin-conditions">
                                <div class="white-panel target-info d-flex d-md-none">
                                    <div class="image">
                                        <game-icon icon="target" font-style="solid" />
                                    </div>
                                    <div class="text">
                                        <h2>Target</h2>
                                        <h1>{{ spinResult.target.name }}</h1>
                                    </div>
                                </div>
                                <div class="white-panel kill-method">
                                    <div class="image">
                                        <game-icon icon="difficulty-casual" font-style="solid" style="color: white" />
                                    </div>
                                    <div class="text">
                                        <h2>Eliminate Using</h2>
                                        <h1>
                                            <template v-if="spinResult.spinResult.killMethod.variants &&
                                                            spinResult.spinResult.killMethod.variants.some(x => x.chosen)">
                                                {{ spinResult.spinResult.killMethod.variants.find(x => x.chosen).name }}
                                            </template>
                                            {{ spinResult.spinResult.killMethod.name }}
                                        </h1>
                                    </div>
                                    <div class="tile d-none d-sm-block">
                                        <img :src="spinResult.spinResult.killMethod.tileUrl" class="img-fluid">
                                    </div>
                                    <div class="divider"></div>
                                    <div class="respin">
                                        <a href="javascript:;" @click="respinSpecificCondition(spinResult.spinResult, 'KILL')">
                                            <game-icon icon="reset" font-style="solid" style="font-size: 24px" />
                                        </a>
                                    </div>
                                </div>
                                <div class="white-panel disguise" :class="!criteriaFilters.specificDisguises.selected ? 'any-disguise' : ''">
                                    <div class="image">
                                        <game-icon icon="disguise" font-style="solid" style="color: white" />
                                    </div>
                                    <div class="text">
                                        <h2>Wear Disguise</h2>
                                        <h1 v-if="criteriaFilters.specificDisguises.selected">{{ spinResult.spinResult.disguise.name }}</h1>
                                        <h1 v-else>Any Disguise</h1>
                                    </div>
                                    <div class="tile d-none d-sm-block">
                                        <img v-if="criteriaFilters.specificDisguises.selected" :src="spinResult.spinResult.disguise.tileUrl" class="img-fluid">
                                        <img v-else src="https://media.hitmaps.com/img/ui/tiles/any_disguise.jpg" class="img-fluid">
                                    </div>
                                    <div class="divider"></div>
                                    <div class="respin">
                                        <a href="javascript:;" @click="respinSpecificCondition(spinResult.spinResult, 'DISGUISE')">
                                            <game-icon icon="reset" font-style="solid" style="font-size: 24px" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row utilities" v-if="selectedMission">
                    <template v-if="tournament.mode && tournament.step > 1">
                        <div class="col-lg-4 col-sm-12" style="margin-bottom: 10px; text-align: center;">
                            <button @click="clearSpin">
                                <game-icon font-style="solid" icon="trash" style="font-size: 5em;" /><br>
                                <span class="text">Clear Spin</span>
                            </button>
                        </div>
                        <div class="col-lg-4 col-sm-6" style="margin-bottom: 10px; background: rgb(230,230,230); width: 100%; text-align: center">
                            <div style="padding: 10px">
                                <game-icon font-style="solid" icon="timed" style="font-size: 5em;" />
                                <div class="row" style="font-size: 1.4rem; text-transform: uppercase">
                                    <div class="col">
                                        Match Length:
                                        <select v-model="tournament.matchDuration">
                                            <option value="60">1 hour</option>
                                            <option value="47">47 minutes</option>
                                            <option value="45">45 minutes</option>
                                            <option value="30">30 minutes</option>
                                            <option value="20">20 minutes</option>
                                            <option value="-1">No time limit</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        Match Time ({{ new Date() | moment('timezone', Intl.DateTimeFormat().resolvedOptions().timeZone, 'z') }}):
                                        <date-picker type="datetime" v-model="tournament.matchTime" :clearable="false" />
                                        <span class="help-block">To display the spin immediately, select a time in the past</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6" style="margin-bottom: 10px; text-align: center">
                            <button @click="sendSpin">
                                <game-icon font-style="solid" icon="play" style="font-size: 5em;" /><br>
                                <span class="text">Send Spin</span>
                            </button>
                        </div>
                    </template>
                    <div class="col-lg-6 col-sm-12">
                        <button @click="spin">
                            <game-icon font-style="normal" icon="reset" style="font-size: inherit; margin-right: 5px" />
                            <span class="text">Spin Again</span>
                        </button>
                    </div>
                    <div class="col-lg-6 col-sm-12" v-if="!tournament.mode">
                        <button @click="startTournamentMode">
                            <game-icon font-style="normal" icon="challenge" style="font-size: inherit; margin-right: 5px" />
                            <span class="text">Enable Tournament Mode</span>
                        </button>
                    </div>
                    <template v-else>
                        <div class="col-lg-6 col-sm-12">
                            <button @click="stopTournamentMode">
                                <game-icon font-style="normal" icon="challenge" style="font-size: inherit; margin-right: 5px" />
                                <span class="text">Disable Tournament Mode</span>
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .blurple {
        background: #7289DA !important;
        color: #fff;

        &:hover {
            background: #6073bf !important;
        }
    }

    .challonge-orange {
        background: #FF7324;
        border-color: #FF7324;
        color: #fff;

        &:hover {
            background: #f05700;
            border-color: #e65300;
            color: #fff;
        }

        svg {
            height: 32px;
            width: 32px;
        }
    }

    .draw {
        svg {
            path {
                fill: white;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        font-family: 'nimbus_sans_lbold', sans-serif;
        background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') center center / cover no-repeat fixed;
    }

    .nav-item {
        margin-right: 10px;
        border-bottom: 1px solid #dee2e6;

        .nav-link {
            background: white;
            color: black;
            border-radius: 0;

            &.active {
                background: #ff003c;
                color: white;
            }
        }
    }

    nav {
        flex: 0 1 auto;
        background: black;

        #navbarNav {
            justify-content: flex-end;

            .nav-item {
                border-bottom: none;

                .nav-link {
                    background: transparent;
                    color: #fff;
                }
            }
        }

        .powered-by {
            color: #fff;
            font-size: 1.2rem;
            text-transform: uppercase;

            span {
                margin-right: 10px;
                vertical-align: middle;
            }
        }

        img {
            max-height: 50px;
        }
    }

    .row.filters {
        margin-left: 35px;
        margin-right: 35px;
    }

    .tournament-info {
        margin-top: 10px;

        h2 {
            text-transform: uppercase;
            font-size: 1.1rem;
            margin-top: 10px;
        }

        .player-col {
            .player {
                display: flex;
                color: #fff;
                text-shadow: 0 3px #000;

                .name {
                    flex-grow: 1;
                    align-self: center;
                }

                .score {
                    font-size: 3rem;
                    margin-left: 30px;
                    margin-right: 30px;
                }

                &.red {
                    background: #fb1c3f;

                    .name {
                        text-align: right;
                    }
                }

                &.blue {
                    background: #4116e7;
                }
            }
        }
    }

    .filter {
        margin-top: 10px;
        padding: 10px;
        background: #2d2f39;
        color: #fff;

        .location {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 5px;
            margin-right: 5px;

            .anchor {
                display: block;

                @media (min-width: 992px) {
                    position: relative;
                    top: -70px;
                    visibility: hidden;
                }
            }

            .header {
                margin-left: 30px;
                text-shadow: 2px 2px 2px #000;
                color: #fff;
                text-transform: uppercase;

                h2 {
                    font-size: 1.5rem;

                    img {
                        display: inline-block;
                        vertical-align: text-bottom;
                        max-height: 63px;
                        max-width: 63px;
                        filter: drop-shadow(2px 2px 2px #000);
                        margin-right: 7px;
                    }

                    p {
                        display: inline-block;
                        text-align: left;

                        .name {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

        &.mission-filter {
            padding-bottom: 0;
        }

        .mission {
            padding: 15px;
            color: #000;
            text-shadow: none;
            border-radius: 0;
            background: rgba(0, 0, 0, .2);

            .mission-image {
                min-height: 100px;

                &:hover {
                    cursor: pointer;
                }
            }

            .mission-info {
                background: rgba(255,255,255,.7);
                display: flex;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                .image {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5px;

                    img {
                        height: 48px;
                        width: 48px;

                        &.normal {
                            display: block;
                        }

                        &.inverted {
                            display: none;
                        }
                    }
                }

                .text {
                    display: inline-block;

                    h2 {
                        font-size: 16px;
                        margin-bottom: 0;
                        color: #fc003b;
                        font-weight: 500;
                    }

                    h1 {
                        font-size: 21px;
                        margin-bottom: 0;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .hitman-card {
            margin: .375rem .75rem;
            display: inline-block;
            cursor: pointer;

            h1 {
                display: inline-block;
            }

            > p:first-child {
                flex-grow: 1;
            }

            &.selected {
                .white-panel {
                    background: #ff003c;
                    border: solid 1px #ff003c;

                    &.target-info {
                        .text {
                            h2, h1 {
                                color: #fff;
                            }
                        }
                    }

                    .image {
                        .selected {
                            display: block;
                        }

                        .regular {
                            display: none;
                        }
                    }
                }
            }

            .white-panel {
                background: #2d2f39;
                color: #fff;
                display: flex;
                border: solid 1px #ddd;

                .image {
                    margin-right: 5px;
                }

                .text {
                    text-transform: uppercase;
                    align-self: center;
                    text-align: left;

                    .variant {
                        font-size: .5rem;
                    }
                }

                &.target-info {
                    padding: 5px;

                    .text {
                        h2 {
                            font-size: 0.7rem;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 0.7rem;
                            margin-bottom: 0;
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;

                        .col {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }

        .game-row {
            display: block;

            .col {
                display: flex;
                align-items: center;

                h1, p {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    margin-right: 10px;
                }

                h1 {
                    flex-grow: 1;
                }

                /*p {
                    flex-grow: 1;
                }*/

                select {
                    background: white;
                }

                .game-logo {
                    filter: invert(100%);
                }

                i {
                    color: #fff;
                }
            }
        }

        .divider {
            margin-left: -10px;
            margin-right: -10px;
            border-top: solid 1px #324151;
        }

        &.roulette-filter {
            th, td {
                color: #fff;
            }
        }

        .mission {
            display: flex;

            > div {
                display: flex;
            }

            .btn.selected {
                background-color: rgba(0,0,0,.1);
            }

            h2 {
                color: #ff003c;
                text-transform: uppercase;
                font-size: 1rem;
            }

            h1, h2 {
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }

        .tournament-mode-toggle {
            margin-top: 10px;

            span {
                margin-right: 10px;
            }
        }
    }

    .targets {
        display: flex;
        flex-direction: column;
        margin: 10px 50px 0 50px;
        flex-grow: 1;

        .row {
            flex-grow: 1;

            .target {
                display: flex;
                margin-bottom: 10px;
            }
        }

        .hitman-card {
            display: flex;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            flex-grow: 1;

            > p:first-child {
                flex-grow: 1;
            }

            /* Screens smaller than 768px */
            .spin-conditions {
                width: 100%;
            }

            @media(min-width: 768px) {
                .spin-conditions {
                    width: 60%;
                }
            }

            .white-panel {
                background: #2d2f39;
                color: #fff;
                display: flex;

                .image {
                    margin-right: 5px;

                    img {
                        height: 48px;
                        width: 48px;
                    }
                }

                .tile {
                    img {
                        max-height: 80px;
                    }
                }

                .text {
                    text-transform: uppercase;
                    flex-grow: 1;
                    align-self: center;
                }

                .divider {
                    border-left: solid 1px #324151;
                }

                .respin {
                    align-self: center;

                    > a {
                        padding: 29px 15px 29px;
                        color: #fff;

                        &:hover {
                            background: #324151;
                        }
                    }
                }

                &.target-info {
                    padding: 15px;

                    .text {
                        h2 {
                            font-size: 1rem;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 1.5rem;
                            margin-bottom: 0;
                        }
                    }
                }

                &.kill-method,
                &.disguise {
                    background: #2d2f39;

                    .image {
                        margin: 15px 5px 15px 15px;
                    }

                    .text {
                        text-transform: none;

                        h2 {
                            font-size: 1rem;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 1.5rem;
                            margin-bottom: 0;
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        background-color: #888;

                        .col {
                            padding-left: 0;
                            padding-right: 0;

                            img {
                                max-height: 40%;
                            }
                        }
                    }
                }
            }
        }
    }

    .target-info-image {
        width: 40%;
        align-items: flex-end;
        padding: 15px;

        .image {
            margin-right: 5px;

            i {
                font-size: 48px;
                text-shadow: 0 0 20px #000;
            }
        }

        .text {
            text-transform: uppercase;
            align-self: inherit;
            text-shadow: 0 0 20px #000;

            h2 {
                font-size: 16px;
                color: #fff;
                margin-bottom: 0;
            }

            h1 {
                font-size: 20px;
                color: #fff;
                margin-bottom: 0;
            }
        }

        &.target-info {
            padding: 5px;

            .text {
                h2 {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                    color: #ff003c;
                }

                h1 {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    .utilities {
        button {
            background: #2d2f39;
            color: #fff;
            border: none;
            padding: 10px;
            width: 100%;
            height: 100%;
            text-transform: uppercase;

            &:hover {
                background: #324151;
                color: #fff;
            }

            .text {
                font-size: 1.4rem;
                vertical-align: middle;
            }
        }

        margin-bottom: 10px;

        .spin-delay {
            .background {
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                height: 100%;
            }
        }

        .help-block {
            display: block;
            font-size: .7rem;
            font-style: italic;
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @keyframes flash {
        0%,
        49% {
            visibility: hidden;
        }
        50%,
        100% {
            visibility: visible;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }
</style>

<script>
import Mission from '@/components/Mission';
import missionInfo from '@/data/missions.json';
import commonKills from '@/data/common-kills.json';
import SpinResult from '@/components/SpinResult';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import GameIcon from "@/components/GameIcon";
import Modal from "@/components/Modal";

export default {
    name: 'home',
    components: {
        Modal,
        GameIcon,
        DatePicker
    },
    props: {
        spinData: String | null
    },
    data() {
        return {
            missionSelectCollapsed: false,
            filterSelectCollapsed: false,
            previousGameName: null,
            selectedMission: null,
            selectedMissionInfo: null,
            hitmanLocations: [],
            hitmanMissions: [],
            hitman2Locations: [],
            hitman2Missions: [],
            hitman3Locations: [],
            hitman3Missions: [],
            missionToTargets: missionInfo,
            commonKills,
            spinResults: [],
            availableKills: [],
            missionInfoFromHitmaps: {},
            availableDisguises: [],
            criteriaFilters: {
                specificDisguises: {
                    selected: true,
                    label: 'Require specific disguises',
                    internalId: 'specific-disguises',
                    flag: 1
                },
                specificMeleeWeapons: {
                    selected: true,
                    label: 'Include specific melee weapons',
                    internalId: 'specific-melee',
                    flag: 10
                },
                specificFirearms: {
                    selected: true,
                    label: 'Include specific firearms',
                    internalId: 'specific-firearms',
                    flag: 100
                },
                specificAccidents: {
                    selected: true,
                    label: 'Include specific accidents / poison kills',
                    internalId: 'specific-accidents',
                    flag: 10000
                },
                uniqueTargetKills: {
                    selected: false,
                    label: 'Include unique target kills',
                    internalId: 'unique-target-kills',
                    flag: 1000000
                },
                genericKills: {
                    selected: false,
                    label: 'Include generic kills',
                    internalId: 'generic-kills',
                    flag: 100000
                },
                impossibleConditions: {
                    selected: false,
                    label: 'Include conditions banned in Roulette Rivals',
                    internalId: 'impossible-conditions',
                    flag: 10000000
                }/*,
                additionalRestrictions: {
                    selected: true,
                    label: 'Include additional restrictions',
                    internalId: 'additional-restrictions'
                }*/
            },
            tournament: {
                hitmapsMatchId: null,
                hitmapsMatch: null,
                players: [
                    {
                        prevScore: 0,
                        score: 0,
                        name: '',
                        finished: null,
                        winner: false
                    },
                    {
                        prevScore: 0,
                        score: 0,
                        name: '',
                        finished: null,
                        winner: false
                    }
                ],
                scoreUpdating: false,
                scoreHistory: [],
                postedToChallonge: false,
                upcomingMatches: [],
                mode: false,
                spinSendTime: null,
                step: 0,
                matchId: null,
                playerOneName: null,
                playerOneStatus: {
                    color: null,
                    text: null
                },
                playerTwoName: null,
                playerTwoStatus: {
                    color: null,
                    text: null
                },
                matchDuration: 47,
                matchTime: new Date(),
                stopRequestingStatus: false,
                show: false,
                overlay: {
                    style: 'overlay'
                }
            }
        };
    },
    methods: {
        cookieExists(name) {
            return this.$cookies.isKey(name);
        },
        getCookie(name) {
            return this.$cookies.get(name);
        },
        processCompletion(playerIndex, state) {
            // Wins are +2
            // Losses are +/- 0
            // Draws are +1 each
            if (state === 'DRAW') {
                this.tournament.players[0].score += 1;
                this.tournament.players[1].score += 1;
                this.updateScore();
                this.clearSpin();
            } else {
                this.$http.patch(`${this.$domain}/api/matchups/${this.tournament.matchId}`, {
                    action: state === 'ACCEPT' ? 'verify' : 'reject',
                    player: playerIndex === 0 ? this.tournament.playerOneName : this.tournament.playerTwoName
                }).then(resp => {
                    if (state === 'ACCEPT') {
                        this.tournament.players[playerIndex].score += 2;
                        this.updateScore();
                        this.clearSpin();
                    }
                }).error(err => console.error(err));
            }
        },
        logout() {
            this.$cookies.remove('discord-access-token');
            this.$cookies.remove('discord-token-type');
            this.$cookies.remove('discord-admin');
            this.$router.go();
        },
        getUpcomingMatches() {
            if (!this.cookieExists('discord-access-token')) {
                this.tournament.upcomingMatches = [];
                return;
            }
            this.tournament.upcomingMatches = undefined;

            this.$http.get('https://tournaments.hitmaps.com/api/upcoming-matchups/rr4')
                .then(resp => {
                    this.tournament.upcomingMatches = resp.data;
                }).catch(err => console.error(err));
        },
        beginHitmapsMatch() {
            console.log(this.tournament.hitmapsMatchId);
            this.tournament.hitmapsMatch = this.tournament.upcomingMatches.find(x => x.matchSupplementalId === this.tournament.hitmapsMatchId);
            console.info(this.tournament.hitmapsMatch);
            this.tournament.playerOneName = this.tournament.hitmapsMatch.participants[0].name;
            this.tournament.players[0].name = this.tournament.playerOneName;
            this.tournament.playerTwoName = this.tournament.hitmapsMatch.participants[1].name;
            this.tournament.players[1].name = this.tournament.playerTwoName;
            this.tournament.overlay.style = 'tournament-overlay';


            this.tournament.players[0].score = 0;
            this.tournament.players[1].score = 0;
            this.updateScore(true);
            this.startTournament();
        },
        updateScore(init = false) {
            this.tournament.players[0].score = parseInt(this.tournament.players[0].score, 10);
            this.tournament.players[1].score = parseInt(this.tournament.players[1].score, 10);
            this.tournament.scoreUpdating = true;
            const payload = {
                player0Score: this.tournament.players[0].score,
                player1Score: this.tournament.players[1].score
            };
            this.$http.patch(`https://tournaments.hitmaps.com/api/match-score/${this.tournament.hitmapsMatchId}`, payload)
                .then(resp => {
                    this.tournament.scoreUpdating = false;

                    if (init) {
                        this.tournament.scoreHistory = [];
                    } else {
                        this.tournament.scoreHistory.push([
                            this.tournament.players[0].score - this.tournament.players[0].prevScore,
                            this.tournament.players[1].score - this.tournament.players[1].prevScore
                        ]);
                    }

                    this.tournament.players[0].prevScore = this.tournament.players[0].score;
                    this.tournament.players[1].prevScore = this.tournament.players[1].score;

                    if (this.tournament.players[0].score === 5 &&
                        this.tournament.players[1].score === 5) {
                        this.tournament.matchDuration = '-1';
                    }
                })
                .catch(err => {
                    console.error(err);
                    this.tournament.players[0].score = this.tournament.players[0].prevScore;
                    this.tournament.players[1].score = this.tournament.players[1].prevScore;
                    this.tournament.scoreUpdating = false;
                });
        },
        getTournamentData() {
            return {
                spinResults: this.spinResults,
                criteriaFilters: this.criteriaFilters,
                missionName: this.selectedMission.name,
                locationName: this.selectedMission.locationName,
                locationTileUrl: this.selectedMission.locationTileUrl,
                show: this.tournament.show,
                matchDuration: this.tournament.matchDuration,
                matchTime: this.tournament.matchTime.toISOString()
            };
        },
        startTournamentMode() {
            this.tournament.mode = true;
            this.tournament.step = 1;
        },
        stopTournamentMode() {
            this.tournament.mode = false;
            this.tournament.step = 0;
            this.tournament.stopRequestingStatus = true;
            clearTimeout(this.retrieveParticipantStatuses);
        },
        startTournament() {
            const matchupData = {
                playerOneName: this.tournament.playerOneName,
                playerTwoName: this.tournament.playerTwoName,
                tournamentMatchId: this.tournament.hitmapsMatchId
            };
            this.$http.post(`${this.$domain}/api/matchups`, matchupData)
                .then(resp => {
                    this.tournament.matchId = resp.data.matchupId;
                    this.tournament.step = 2;
                    this.retrieveParticipantStatuses();
                });
        },
        retrieveParticipantStatuses() {
            if (this.tournament.stopRequestingStatus) {
                this.tournament.stopRequestingStatus = false;
                return;
            }

            this.$http.get(`${this.$domain}/api/matchups/${this.tournament.matchId}`)
                .then(resp => {
                    this.tournament.playerOneStatus = this.getStatusForParticipant(resp.data.playerOneLastPing);
                    this.tournament.playerTwoStatus = this.getStatusForParticipant(resp.data.playerTwoLastPing);

                    if (resp.data.formattedPlayerOneCompleteTime) {
                        this.tournament.players[0].finished = new Date(resp.data.formattedPlayerOneCompleteTime);
                    } else {
                        this.tournament.players[0].finished = null;
                    }

                    if (resp.data.formattedPlayerTwoCompleteTime) {
                        this.tournament.players[1].finished = new Date(resp.data.formattedPlayerTwoCompleteTime);
                    } else {
                        this.tournament.players[1].finished = null;
                    }

                    setTimeout(this.retrieveParticipantStatuses, 3000);
                })
                .catch(err => {
                    console.error(err);
                    setTimeout(this.retrieveParticipantStatuses, 3000);
                });
        },
        getStatusForParticipant(lastPing) {
            const currentTime = Date.now();
            if (currentTime - lastPing < 6000) {
                return {
                    color: 'green',
                    text: 'Online'
                };
            }
            if (currentTime - lastPing < 15000) {
                return {
                    color: 'orange',
                    text: 'Connection Issues'
                };
            }
            return {
                color: 'red',
                text: 'Offline'
            };
        },
        sendSpin(showSpin = true, showTimer = true) {
            this.tournament.show = showSpin;
            this.tournament.showTimer = showTimer;
            const payload = {
                matchupData: JSON.stringify(this.getTournamentData()),
                clearWinner: showSpin || showTimer
            };
            this.$http.patch(`${this.$domain}/api/matchups/${this.tournament.matchId}`, payload)
                .then(resp => {
                    this.tournament.spinSendTime = new Date();
                    this.tournament.step = 3;

                    if (this.tournament.hitmapsMatchId) {
                        this.$http.post(`https://tournaments.hitmaps.com/api/tournaments/unused/matches/${this.tournament.hitmapsMatchId}/metrics`, {
                            matchupData: payload.matchupData,
                            participant0Score: this.tournament.players[0].score,
                            participant1Score: this.tournament.players[1].score,
                            notes: ''
                        }).catch(err => console.error('Failed to send metrics to HITMAPS Tournaments'));
                    }
                });
        },
        clearSpin() {
            if (this.spinResults) {
                this.spinResults.forEach(result => {
                    if (result.disguise) {
                        result.disguise.chosen = false;
                    }

                    if (result.killMethod) {
                        result.killMethod.chosen = false;
                    }
                });
            }

            this.sendSpin(false, false);
        },
        copyStreamOverlayLink() {
            const element = document.createElement('textarea');
            document.body.appendChild(element);
            element.value = `${this.$vueDomain}/${this.tournament.overlay.style}/${this.tournament.matchId}`;
            element.select();
            document.execCommand('copy');
            document.body.removeChild(element);
        },
        copyMatchUrl(playerName) {
            const element = document.createElement('textarea');
            document.body.appendChild(element);
            const encodedPlayerName = encodeURIComponent(playerName);
            element.value = `${this.$vueDomain}/matchup/${this.tournament.matchId}/${encodedPlayerName}`;
            element.select();
            document.execCommand('copy');
            document.body.removeChild(element);
        },
        getMissionByName(slug) {
            let mission = this.hitmanMissions.find(x => x.slug === slug);
            mission = mission === null ? this.hitman2Missions.find(x => x.slug === slug) : mission;

            return mission;
        },
        setActiveMission(mission) {
            this.selectedMission = mission;
            this.selectedMissionInfo = this.missionToTargets
                .find(missionData => missionData.name === this.selectedMission.name);
            this.storeInfoFromHitmaps(mission, () => {
                this.availableKills = [];
                this.availableDisguises = [];
                // tslint:disable-next-line
                this.$refs['expandCollapseButton'].click();

                this.spin();
            });
        },
        storeInfoFromHitmaps(mission, callback) {
            if (this.missionInfoFromHitmaps[`${mission.gameUri}|${mission.location}|${mission.slug}`] !== undefined) {
                callback();
                return;
            }

            this.$http.get(`https://www.hitmaps.com/api/v1/games/${mission.gameUri}/locations/${mission.location}/missions/${mission.slug}/${mission.mainDifficulty}/map`)
                .then(resp => {
                    const lethalMelee = [];
                    // tslint:disable-next-line
                    resp.data.searchableNodes['Weapons and Tools']['items']['Lethal Melee'].items.forEach(item => {
                        if (['Earphones', 'Measuring Tape', 'Stethoscope', 'Aztec Necklace', 'Fishing Line'].includes(item.name)) {
                            return;
                        }

                        lethalMelee.push({
                            name: item.name,
                            tileUrl: item.image,
                            chosen: false
                        });
                    });

                    const disguises = [];
                    let foundASuit = false;
                    resp.data.disguises.forEach(disguise => {
                        if (disguise.suit && foundASuit) {
                            return;
                        }
                        if (disguise.suit) {
                            foundASuit = true;
                        }

                        disguises.push({
                            name: disguise.suit ? 'Suit' : disguise.name,
                            tileUrl: disguise.image,
                            chosen: false
                        });
                    });

                    this.missionInfoFromHitmaps[`${mission.gameUri}|${mission.location}|${mission.slug}`] = {
                        lethalMelee,
                        disguises
                    };

                    callback();
                })
                .catch(err => {
                    console.error(err);
                });
        },
        getTargetsForMission() {
            if (!this.selectedMission) {
                return [];
            }

            let spinResults = [];
            for (let i = 0; i < this.selectedMissionInfo.targets.length; i++) {
                if (this.spinResults.length < i + 1) {
                    continue;
                }

                spinResults.push({
                    target: this.selectedMissionInfo.targets[i],
                    spinResult: this.spinResults[i]
                });
            }
            return spinResults;
        },
        spin() {
            if (!this.selectedMission) {
                return;
            }

            if (this.spinResults) {
                this.spinResults.forEach(result => {
                    if (result.disguise) {
                        result.disguise.chosen = false;
                    }

                    if (result.killMethod) {
                        result.killMethod.chosen = false;

                        if (result.killMethod.variants) {
                            result.killMethod.variants.forEach(x => x.chosen = false);
                        }
                    }
                });
            }

            this.setAvailableKills();

            if (!this.availableDisguises.length) {
                this.availableDisguises = this.missionInfoFromHitmaps[`${this.selectedMission.gameUri}|${this.selectedMission.location}|${this.selectedMission.slug}`].disguises;
            }

            this.spinResults = [];

            this.selectedMissionInfo.targets.forEach(target => {
                const availableKillsForTarget = this.availableKills.slice();

                if (this.criteriaFilters.uniqueTargetKills.selected && target.uniqueKills.length) {
                    availableKillsForTarget.push(target.uniqueKills);
                }

                let chosenKillMethod;
                let chosenDisguise;
                let randomValue;

                if (target.killOverrides) {
                    // Soders only
                    chosenKillMethod = target.killOverrides[this.getRandomNumber(target.killOverrides.length)];
                    chosenKillMethod.chosen = true;
                } else {
                    const killType = availableKillsForTarget[this.getRandomNumber(availableKillsForTarget.length)]
                        .filter(item => !item.chosen);

                    if (killType.length > 0) {
                        randomValue = this.getRandomNumber(killType.length);
                        chosenKillMethod = killType[randomValue];

                        if (chosenKillMethod.variants && this.getRandomNumber(10) % 2 === 0) {
                            let variant = chosenKillMethod.variants[this.getRandomNumber(chosenKillMethod.variants.length)];
                            variant.chosen = true;
                        }

                        chosenKillMethod.chosen = true;
                    }
                }

                let spinResult = undefined;
                if (this.criteriaFilters.specificDisguises) {
                    // 2. Disguise restriction
                    const filteredDisguises = this.availableDisguises.filter(item => !item.chosen);
                    randomValue = this.getRandomNumber(filteredDisguises.length);
                    chosenDisguise = filteredDisguises[randomValue];
                    chosenDisguise.chosen = true;

                    spinResult = new SpinResult({
                        target,
                        killMethod: chosenKillMethod,
                        disguise: chosenDisguise
                    });
                } else {
                    spinResult = new SpinResult({
                        target,
                        killMethod: chosenKillMethod,
                        disguise: undefined
                    });
                }
                this.respinSpecificCondition(spinResult, 'KILL');
                this.respinSpecificCondition(spinResult, 'DISGUISE');
                this.spinResults.push(spinResult);
            });
        },
        setAvailableKills() {
            this.availableKills = [];
            if (this.criteriaFilters.genericKills.selected) {
                this.availableKills.push(this.commonKills.genericKills);
            }

            if (this.criteriaFilters.specificFirearms.selected) {
                this.availableKills.push(this.commonKills.firearms);
            }

            if (this.criteriaFilters.specificAccidents.selected) {
                this.availableKills.push(this.commonKills.accidents);
            }

            if (this.criteriaFilters.specificMeleeWeapons.selected) {
                const allMelee = this.selectedMissionInfo.melee;
                this.missionInfoFromHitmaps[`${this.selectedMission.gameUri}|${this.selectedMission.location}|${this.selectedMission.slug}`].lethalMelee.forEach(x => allMelee.push(x));
                this.availableKills.push(allMelee);
            }
        },
        respinSpecificCondition(spinResult, type) {
            const blacklistedKills = spinResult.target.blacklistedKills.map(x => x.key);
            if (type === 'KILL') {
                const availableKillsForTarget = this.availableKills.slice();

                if (this.criteriaFilters.uniqueTargetKills.selected && spinResult.target.uniqueKills.length) {
                    availableKillsForTarget.push(spinResult.target.uniqueKills);
                }

                let chosenKillMethod;

                if (spinResult.target.killOverrides) {
                    // Soders only
                    // tslint:disable-next-line
                    chosenKillMethod = spinResult.target.killOverrides[this.getRandomNumber(spinResult.target.killOverrides.length)];
                    chosenKillMethod.chosen = true;

                    if (chosenKillMethod.variants && this.getRandomNumber(10) % 2 === 0) {
                        let variant = chosenKillMethod.variants[this.getRandomNumber(chosenKillMethod.variants.length)];
                        variant.chosen = true;
                    }

                    spinResult.killMethod.chosen = false;
                    if (spinResult.killMethod.variants) {
                        spinResult.killMethod.variants.forEach(x => x.chosen = false);
                    }
                } else {
                    let killType;
                    if (this.criteriaFilters.impossibleConditions.selected) {
                        killType = availableKillsForTarget[this.getRandomNumber(availableKillsForTarget.length)]
                            .filter(item => !item.chosen);
                    } else {
                        killType = availableKillsForTarget[this.getRandomNumber(availableKillsForTarget.length)]
                            .filter(item => !item.chosen && blacklistedKills.indexOf(item.name + '|*') === -1);
                    }

                    if (killType.length > 0) {
                        const randomValue = this.getRandomNumber(killType.length);
                        chosenKillMethod = killType[randomValue];
                        chosenKillMethod.chosen = true;

                        if (chosenKillMethod.variants && this.getRandomNumber(10) % 2 === 0) {
                            let variant = chosenKillMethod.variants[this.getRandomNumber(chosenKillMethod.variants.length)];
                            variant.chosen = true;
                        }

                        spinResult.killMethod.chosen = false;
                        if (spinResult.killMethod.variants) {
                            spinResult.killMethod.variants.forEach(x => x.chosen = false);
                        }

                    } else {
                        chosenKillMethod = spinResult.killMethod;
                    }
                }

                spinResult.killMethod = chosenKillMethod;

                if (!this.criteriaFilters.impossibleConditions.selected &&
                    spinResult.target.blacklistedKills.find(
                        x => x.name === chosenKillMethod.name &&
                            x.disguise === spinResult.disguise.name)) {
                    console.warn('New spin condition does not allow this disguise. Re-spinning the disguise.');
                    this.respinSpecificCondition(spinResult, 'DISGUISE');
                }
            } else if (type === 'DISGUISE') {
                let chosenDisguise;
                let filteredDisguises = this.availableDisguises.filter(item => !item.chosen);

                if (this.criteriaFilters.impossibleConditions.selected) {
                    const bannedDisguisesForKill = spinResult.target.blacklistedKills
                        .filter(x => x.name === spinResult.killMethod.name);
                    bannedDisguisesForKill.forEach(bannedDisguise => {
                        filteredDisguises = filteredDisguises.filter(x => x.name !== bannedDisguise.disguise);
                    });
                }


                const randomValue = this.getRandomNumber(filteredDisguises.length);
                chosenDisguise = filteredDisguises[randomValue];
                chosenDisguise.chosen = true;

                spinResult.disguise.chosen = false;
                spinResult.disguise = chosenDisguise;
            } else {
                console.error('Attempted to re-spin an invalid type!');
            }
        },
        getRandomNumber(max) {
            return Math.floor(Math.random() * Math.floor(max));
        },
        getMainDifficulty(mission) {
            if (mission.difficulties.indexOf('Professional') !== -1) {
                return 'professional';
            }

            return 'standard';
        },
        postToChallonge() {
            this.$http.post(`https://tournaments.hitmaps.com/api/matchups/${this.tournament.hitmapsMatchId}/post-score`, {
                scoreHistory: this.tournament.scoreHistory
            }).then(resp => this.tournament.postedToChallonge = true)
                .catch(err => console.error(err));
        },
        getTimeDifference() {
            if (this.tournament && this.tournament.players && this.tournament.players[0].finished && this.tournament.players[1].finished) {
                return Math.abs((this.tournament.players[0].finished - this.tournament.players[1].finished) / 1000);
            }
        }
    },
    mounted() {
        let loadedHitmanLocations = false;
        let loadedHitman2Locations = false;
        let loadedHitman3Locations = false;

        this.getUpcomingMatches();
        this.$http
            .get('https://www.hitmaps.com/api/v1/games/hitman/locations')
            .then(resp => {
                // Response is grouped by location
                this.hitmanLocations = resp.data;
                resp.data.forEach(location => {
                    location.missions
                        .filter(x => missionInfo.find(y => y.id === x.id) !== undefined)
                        .forEach(y => this.hitmanMissions.push(new Mission({
                            game: 'HITMAN™',
                            gameUri: 'hitman',
                            name: y.name,
                            slug: y.slug,
                            tileUrl: y.tileUrl,
                            location: location.slug,
                            locationName: location.destination,
                            mainDifficulty: this.getMainDifficulty(y),
                            locationTileUrl: missionInfo.find(x => x.id === y.id).locationTileUrl
                        })));
                });
                loadedHitmanLocations = true;
            });
        this.$http.get('https://www.hitmaps.com/api/v1/games/hitman2/locations')
            .then(resp => {
                this.hitman2Locations = resp.data;
                resp.data.forEach(location => {
                    location.missions
                        .filter(x => missionInfo.find(y => y.id === x.id) !== undefined)
                        .forEach(y => this.hitman2Missions.push(new Mission({
                            game: 'HITMAN™ 2',
                            gameUri: 'hitman2',
                            name: y.name,
                            slug: y.slug,
                            tileUrl: y.tileUrl,
                            location: location.slug,
                            mainDifficulty: this.getMainDifficulty(y),
                            locationTileUrl: missionInfo.find(x => x.id === y.id).locationTileUrl
                        })));
                });
                loadedHitman2Locations = true;
            });
        this.$http
            .get('https://www.hitmaps.com/api/v1/games/hitman3/locations')
            .then(resp => {
                this.hitman3Locations = resp.data;
                resp.data.forEach(location => {
                    location.missions
                        .filter(x => missionInfo.find(y => y.id === x.id) !== undefined)
                        .forEach(y => this.hitman3Missions.push(new Mission({
                            game: 'HITMAN™ 3',
                            gameUri: 'hitman3',
                            name: y.name,
                            slug: y.slug,
                            tileUrl: y.tileUrl,
                            location: location.slug,
                            mainDifficulty: this.getMainDifficulty(y),
                            locationTileUrl: missionInfo.find(x => x.id === y.id).locationTileUrl
                        })));
                });
                loadedHitman3Locations = true;
            });
    },
};
</script>
