<template>
    <div class="body" :style="`background: url('${backgroundUrl}') center center / cover no-repeat fixed`">
        <nav class="navbar navbar-expand-lg">
            <img src="@/assets/logo.png" class="img-fluid mr-auto">
            <div class="powered-by">
                <span>Powered by</span>
                <a href="https://www.hitmaps.com" target="_blank">
                    <img src="https://www.hitmaps.com/img/png/logos/hitmaps.png" alt="HITMAPS&trade; Logo" class="hitmaps-logo img-fluid">
                </a>
            </div>
        </nav>
        <template v-if="tournamentMatchId">
            <div class="row filters">
                <div class="player-col col-md-12">
                    <div class="info white" @click="notifyCompletion" :class="completionStatus ? completionStatus.toLowerCase() : ''">
                        <span v-if="!completionStatus">Click / tap <b>here</b> upon completing the mission with a 5-star, silent assassin rating!</span>
                        <span v-else-if="completionStatus === 'SENDING'" class="text-muted">Notifying admin, please wait... <b>DO NOT REFRESH THIS PAGE!</b></span>
                        <span v-else-if="completionStatus === 'PENDING'" class="text-muted">Waiting for admin verification... <b>DO NOT REFRESH THIS PAGE!</b></span>
                        <span v-else-if="completionStatus === 'REJECTED'">Your run was rejected. <b>Consult <i class="fab fa-discord blurple"></i> Discord for more information.</b></span>
                        <span v-else-if="completionStatus === 'MANUAL'">Remember to type "done" in <i class="fab fa-discord blurple"></i> <b>#tourney-matchups</b> upon completing the mission with a 5-star, silent assassin rating!</span>
                    </div>
                </div>
            </div>
            <div class="row filters">
                <div class="player-col col-md-6 col-sm-12">
                    <div class="player red">
                        <div class="name">
                            {{ playerOneName }}
                        </div>
                        <div class="score 50-score 100-score">
                            {{ playerOneScore }}
                        </div>
                    </div>
                </div>
                <div class="player-col col-md-6 col-sm-12">
                    <div class="player blue">
                        <div class="score d-none d-md-block">
                            {{ playerTwoScore }}
                        </div>
                        <div class="name">
                            {{ playerTwoName }}
                        </div>
                        <div class="score d-block d-md-none">
                            {{ playerTwoScore }}
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div class="row filters">
            <div class="col-sm-12">
                <div class="filter mission-filter">
                    <div class="row game-row">
                        <div class="col">
                            <h1 v-if="matchupData && matchupData.show">{{ matchupData.missionName }}</h1>
                            <h1 v-else>Waiting for spin data...</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timer" v-if="matchupData && matchupData.show && !pretime.inPretime">
            <div class="overlay-timer above" :class="progressColor" :style="'width: ' + progressPercentage"><!-- Intentionally left blank --></div>
            <div class="overlay-timer below">
                <div class="row remaining-time">
                    <div class="col">
                        <div class="text">
                            <template>
                                <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
                                <div class="timer" v-else>No Time Limit</div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pretime" v-if="pretime.inPretime">
            <div class="row">
                <div class="col-xs-12">
                    <i class="fad fa-hourglass"></i>
                    <div class="text">
                        <template>
                            <p>SPIN ARRIVES IN</p>
                            <div class="timer">{{ getFormattedTime(pretime.remainingPretimeInSeconds) }}</div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="targets" v-else-if="matchupData">
            <div class="row">
                <div v-if="matchupData.show" class="col-xl-6 col-lg-12 target" v-for="(spinResult, index) in matchupData.spinResults">
                    <div class="hitman-card">
                        <div class="target-info-image d-none d-md-flex" :style="{ background: `url(${spinResult.target.tileUrl}) center center / cover no-repeat` }">
                            <div class="image">
                                <game-icon icon="target" font-style="solid" style="color: white" />
                            </div>
                            <div class="text">
                                <h2>Target</h2>
                                <h1>{{ spinResult.target.name }}</h1>
                            </div>
                        </div>
                        <div class="spin-conditions">
                            <div class="white-panel target-info d-flex d-md-none">
                                <div class="image">
                                    <game-icon icon="target" font-style="solid" />
                                </div>
                                <div class="text">
                                    <h2>Target</h2>
                                    <h1>{{ spinResult.target.name }}</h1>
                                </div>
                            </div>
                            <div class="white-panel kill-method">
                                <div class="image">
                                    <game-icon icon="difficulty-casual" font-style="solid" style="color: white" />
                                </div>
                                <div class="text">
                                    <h2>Eliminate Using</h2>
                                    <h1>
                                        <template v-if="spinResult.killMethod.variants &&
                                                        spinResult.killMethod.variants.some(x => x.chosen)">
                                            {{ spinResult.killMethod.variants.find(x => x.chosen).name }}
                                        </template>
                                        {{ spinResult.killMethod.name }}
                                    </h1>
                                </div>
                                <div class="tile d-none d-sm-block">
                                    <img :src="spinResult.killMethod.tileUrl" class="img-fluid">
                                </div>
                            </div>
                            <div class="white-panel disguise" :class="!matchupData.criteriaFilters.specificDisguises.selected ? 'any-disguise' : ''">
                                <div class="image">
                                    <game-icon icon="disguise" font-style="solid" style="color: white" />
                                </div>
                                <div class="text">
                                    <h2>Wear Disguise</h2>
                                    <h1 v-if="matchupData.criteriaFilters.specificDisguises.selected">{{ spinResult.disguise.name }}</h1>
                                    <h1 v-else>Any Disguise</h1>
                                </div>
                                <div class="tile d-none d-sm-block">
                                    <img v-if="matchupData.criteriaFilters.specificDisguises.selected" :src="spinResult.disguise.tileUrl" class="img-fluid">
                                    <img v-else src="https://media.hitmaps.com/img/ui/tiles/any_disguise.jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row utilities">&nbsp;</div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        font-family: 'nimbus_sans_lbold', sans-serif;
    }

    @keyframes flash {
        0%,
        49% {
            visibility: visible;
        }
        50%,
        100% {
            visibility: hidden;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }

    .row.timer {
        margin-left: 50px;
        margin-right: 50px;
        min-height: 70px;
        max-height: 70px;
        text-align: center;
        position: relative;
        background: lime;

        .overlay-timer {
            &.above {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background 1s ease-in-out;

                &.green {
                    background: green;
                }

                &.yellow {
                    background: orange;
                }

                &.red {
                    background: red;
                }
            }

            &.below {
                width: 100%;
                background: #292929;
                color: white;
                height: 70px;
            }

            .remaining-time {
                font-size: 45px;
            }
        }

        img {
            margin-top: 10px;
            height: 80px;
        }
    }

    nav {
        flex: 0 1 auto;
        background-color: rgba(0, 0, 0, .5);

        .powered-by {
            color: #fff;
            font-size: 1.2rem;
            text-transform: uppercase;

            span {
                margin-right: 10px;
                vertical-align: middle;
            }
        }

        img {
            max-height: 50px;
        }
    }

    .row.filters {
        margin-left: 35px;
        margin-right: 35px;
    }

    .filter {
        margin-top: 10px;
        padding: 10px;
        background: #2d2f39;
        color: #fff;


        .game-row {
            .hitman-card {
                margin: .375rem .75rem;
                display: inline-block;
                cursor: pointer;

                > p:first-child {
                    flex-grow: 1;
                }

                .white-panel {
                    background: #2d2f39;
                    color: #fff;
                    display: flex;
                    border: solid 1px #ddd;

                    .image {
                        margin-right: 5px;

                        img {
                            height: 32px;
                            width: 32px;

                            &.selected {
                                display: none;
                            }

                            &.regular {
                                display: block;
                            }
                        }
                    }

                    .text {
                        text-transform: uppercase;
                        align-self: center;
                        text-align: left;
                    }

                    &.target-info {
                        padding: 5px;

                        .text {
                            h2 {
                                font-size: 0.7rem;
                                margin-bottom: 0;
                                color: #ff003c;
                            }

                            h1 {
                                font-size: 0.7rem;
                                margin-bottom: 0;
                            }
                        }
                    }

                    &.images {
                        .row {
                            margin-left: 0;
                            margin-right: 0;

                            .col {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            .col {
                display: flex;
                align-items: center;

                h1, p {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    margin-right: 10px;
                }

                h1 {
                    flex-grow: 1;
                }

                /*p {
                    flex-grow: 1;
                }*/

                select {
                    background: white;
                }

                .game-logo {
                    filter: invert(100%);
                }
            }
        }


        .divider {
            margin-left: -10px;
            margin-right: -10px;
            border-top: solid 1px #eee;
        }

        .mission {
            text-align: center;

            .btn.selected {
                background-color: rgba(0,0,0,.1);
            }

            img {
                max-height: 200px;
            }
        }

        .tournament-mode-toggle {
            margin-top: 10px;

            span {
                margin-right: 10px;
            }
        }
    }

    .targets {
        display: flex;
        flex-direction: column;
        margin: 10px 50px 0 50px;

        .target-info-image {
            width: 40%;
            align-items: flex-end;
            padding: 15px;

            .image {
                margin-right: 5px;

                i {
                    font-size: 48px;
                    text-shadow: 0 0 20px #000;
                }
            }

            .text {
                text-transform: uppercase;
                align-self: inherit;
                text-shadow: 0 0 20px #000;

                h2 {
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 0;
                }

                h1 {
                    font-size: 20px;
                    color: #fff;
                    margin-bottom: 0;
                }
            }

            &.target-info {
                padding: 5px;

                .text {
                    h2 {
                        font-size: 0.7rem;
                        margin-bottom: 0;
                        color: #ff003c;
                    }

                    h1 {
                        font-size: 0.7rem;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .row {
            flex-grow: 1;

            .target {
                display: flex;
                margin-bottom: 10px;
            }
        }

        .hitman-card {
            display: flex;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            flex-grow: 1;

            > p:first-child {
                flex-grow: 1;
            }

            /* Screens smaller than 768px */
            .spin-conditions {
                width: 100%;
            }

            @media(min-width: 768px) {
                .spin-conditions {
                    width: 60%;
                }
            }

            .white-panel {
                background: #2d2f39;
                color: #fff;
                display: flex;

                .image {
                    margin-right: 5px;

                    img {
                        height: 48px;
                        width: 48px;
                    }
                }

                .tile {
                    img {
                        max-height: 80px;
                    }
                }

                .text {
                    text-transform: uppercase;
                    flex-grow: 1;
                    align-self: center;
                }

                .divider {
                    border-left: solid 1px #ddd;
                }

                .respin {
                    align-self: center;

                    > a {
                        padding: 29px 15px 29px;
                        color: #000;

                        &:hover {
                            background: rgba(0,0,0,.05);
                        }
                    }
                }

                &.target-info {
                    padding: 15px;

                    .text {
                        h2 {
                            font-size: 1rem;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 1.5rem;
                            margin-bottom: 0;
                        }
                    }
                }

                &.kill-method,
                &.disguise {
                    border-top: solid 1px #2d2f39;
                    background: #2d2f39;

                    .image {
                        margin: 15px 5px 15px 15px;
                    }

                    .text {
                        text-transform: none;

                        h2 {
                            font-size: 1rem;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 1.5rem;
                            margin-bottom: 0;
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        background-color: #888;

                        .col {
                            padding-left: 0;
                            padding-right: 0;

                            img {
                                max-height: 40%;
                            }
                        }
                    }
                }
            }
        }
    }

    .player-col {
        margin-top: 10px;

        .player {
            display: flex;
            color: #fff;
            text-shadow: 0 3px #000;

            .name {
                flex-grow: 1;
                align-self: center;
            }

            .score {
                font-size: 3rem;
                margin-left: 30px;
                margin-right: 30px;
            }

            &.red {
                background: #fb1c3f;

                .name {
                    text-align: right;
                }
            }

            &.blue {
                background: #4116e7;

                @media(max-width: 767px) {
                    .name {
                        text-align: right
                    }
                }
            }
        }

        .info {
            &.white {
                padding: 20px;
                background: #2d2f39;
                color: #fff;
                font-family: 'nimbus_sans_lregular', 'nimbus_sans_lbold', sans-serif;
                text-align: center;
                cursor: pointer;

                @media(max-width: 767px) {
                    text-align: left;
                }

                b {
                    font-weight: bolder;
                }

                &.pending,
                &.sending,
                &.rejected {
                    cursor: not-allowed;
                }

                &.manual {
                    cursor: default;
                }
            }
        }
    }

    .blurple {
        color: #7289DA;
    }

    .pretime {
        margin: 10px 65px 0 65px;

        .row {
            background: rgba(45, 47, 57, .5);
            height: 300px;
            color: #fff;

            .col-xs-12 {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: center;
                padding: 0;
                height: 100%;
                width: 100%;
                text-align: center;

                .fa-hourglass {
                    position: absolute;
                    z-index: 0;
                    color: rgba(255, 255, 255,.4);
                    font-size: 200px;
                    transition: color 0.5s ease;
                    display: flex;
                    align-self: center;
                }

                > div {
                    text-align: center;

                    .timer {
                        font-size: 75px;
                    }

                    .text {
                        z-index: 2;
                        p {
                            text-transform: uppercase;
                            margin: 0;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<script>
import {Howl, Howler} from 'howler';
import GameIcon from "@/components/GameIcon";

export default {
    name: 'matchup-client',
    components: {
        GameIcon
    },
    props: {
        playerName: String,
        matchupId: String
    },
    data() {
        return {
            sounds: {},
            matchupData: null,
            spinTime: null,
            previousSpinTime: null,
            endTime: null,
            currentTime: null,
            timerInterval: null,
            ajaxTimerInterval: null,
            remainingTimeInSeconds: null,
            showTimer: false,
            pretime: {
                inPretime: false,
                remainingPretimeInSeconds: 0,
                inCountdown: false
            },
            lastStatusUpdate: null,
            status: {
                color: null,
                text: null
            },
            tournamentMatchId: null,
            playerOneName: null,
            playerOneScore: null,
            playerOnePreviousScore: null,
            playerTwoName: null,
            playerTwoScore: null,
            playerTwoPreviousScore: null,
            reverseScore: false,
            completionStatus: null,
            previousShow: null,
            suppressStatusUpdate: false
        };
    },
    computed: {
        backgroundUrl: function() {
            if (this.matchupData && this.matchupData.locationTileUrl) {
                return this.matchupData.locationTileUrl;
            }

            return 'https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg';
        },
        progressColor: function() {
            if (this.matchupData.matchDuration === '-1') {
                return '';
            }

            const halfTime = this.matchupData.matchDuration * 30; // 60 / 2
            const nearEnd = this.matchupData.matchDuration * 10; // 60 / 6

            if (this.remainingTimeInSeconds > halfTime) {
                return 'green';
            }
            if (this.remainingTimeInSeconds > nearEnd) {
                return 'yellow';
            }
            if (this.remainingTimeInSeconds > 60) {
                return 'red';
            }
            if (this.remainingTimeInSeconds > 0) {
                return 'red flash';
            }

            return 'red';
        },
        // tslint:disable-next-line
        progressPercentage: function() {
            const duration = this.matchupData.matchDuration * 60;
            const percentage = Math.ceil(this.remainingTimeInSeconds / duration * 100);

            return `${percentage}%`;
        },
    },
    methods: {
        initAudio() {
            const soundNames = [
                '01_Announcer_MatchInitializedGetReady_ANNOUNCER_VERSUS_001',
                '02_Announcer_MatchInitializedPrepare_ANNOUNCER_VERSUS_001',
                '04_Announcer_MatchIntroDuel10Sec_ANNOUNCER_VERSUS_001',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_005',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_006',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_007',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_008',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_009',
                '10_Announcer_MatchStartEliminateTarget_ANNOUNCER_VERSUS_001',
                '17_Announcer_TargetDespawn15Sec_ANNOUNCER_VERSUS_001',
                '18_Announcer_TargetDespawn10Sec_ANNOUNCER_VERSUS_001',
                '19_Announcer_TargetLost_ANNOUNCER_VERSUS_001',
                '27_Announcer_TallyStatusPositive_ANNOUNCER_VERSUS_001',
                '28_Announcer_TallyStatusNeutral_ANNOUNCER_VERSUS_001',
                '29_Announcer_TallyStatusNegative_ANNOUNCER_VERSUS_001',
                '30_Announcer_TallyStatusPositiveMatchPoint_ANNOUNCER_VERSUS_001',
                '31_Announcer_TallyStatusNeutralMatchPoint_ANNOUNCER_VERSUS_001',
                '32_Announcer_TallyStatusNegativeMatchPoint_ANNOUNCER_VERSUS_001',
                '33_Announcer_MatchWon_ANNOUNCER_VERSUS_001',
                '34_Announcer_MatchPoint_ANNOUNCER_VERSUS_001',
                '35_Announcer_MatchLost_ANNOUNCER_VERSUS_001',
                '50_Announcer_TallyStatusNeutralMatchPoint2_ANNOUNCER_VERSUS_001',
                '51_Announcer_Score_ANNOUNCER_VERSUS_001',
                '52_Announcer_Score0_ANNOUNCER_VERSUS_001',
                '53_Announcer_Score1_ANNOUNCER_VERSUS_001',
                '54_Announcer_Score2_ANNOUNCER_VERSUS_001',
                '55_Announcer_Score3_ANNOUNCER_VERSUS_001',
                '56_Announcer_Score4_ANNOUNCER_VERSUS_001',
                '57_Announcer_Score5_ANNOUNCER_VERSUS_001',
                '63_Announcer_To0_ANNOUNCER_VERSUS_001',
                '64_Announcer_To1_ANNOUNCER_VERSUS_001',
                '65_Announcer_To2_ANNOUNCER_VERSUS_001',
                '66_Announcer_To3_ANNOUNCER_VERSUS_001',
                '67_Announcer_To4_ANNOUNCER_VERSUS_001',
                '68_Announcer_To5_ANNOUNCER_VERSUS_001'
            ];

            Howler.autoSuspend = false;

            for (const soundName of soundNames) {
                this.sounds[soundName] = {
                    name: soundName,
                    file: new Howl({
                        src: [`https://media.hitmaps.com/img/hitmaps-roulette/fake-diana/webm/${soundName}.webm`,
                            `https://media.hitmaps.com/img/hitmaps-roulette/fake-diana/mp3/${soundName}.mp3`]
                    }),
                    ready: false
                };

                const that = this;
                this.sounds[soundName].file.once('load', function() {
                    that.sounds[soundName].ready = true;
                });
            }
        },
        getFormattedTime(time) {
            const minutes = parseInt(time / 60, 10);
            const seconds = parseInt(time % 60, 10);

            return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
        },
        formatTimerValue(value) {
            if (value < 0) {
                return '00';
            }

            const formattedValue = Math.abs(value);

            return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
        },
        initializeMatchup() {
            if (this.suppressStatusUpdate) {
                console.log('[initializeMatchup] Update suppressed.');
                this.ajaxTimerInterval = setTimeout(this.ajaxUpdate, 5000);
            } else {
                this.$http
                    .get(`${this.$domain}/api/matchups/${this.matchupId}?name=${encodeURIComponent(this.playerName)}`)
                    .then(resp => {
                        this.handleResponse(resp.data);
                    })
                    .catch(err => {
                        console.error(err);
                    });
            }
        },
        handleResponse(resp) {
            clearTimeout(this.timerInterval);
            clearTimeout(this.ajaxTimerInterval);
            /*
                {
                    "id": 1,
                    "matchupId": "slkfjslkdjg",
                    "playerOneName": "PlayerName",
                    "playerTwoName': "PlayerName",
                    "matchupData": "{...}"
                }
             */

            if(this.suppressStatusUpdate) {
                // Ignore the response for potential race conditions
                console.log('Update SUPPRESSED due to sending completion.');
                this.updateTimer();
                this.ajaxTimerInterval = setTimeout(this.ajaxUpdate, 5000);
            }

            if (!resp.matchupData) {
                console.info('No matchup data');
            } else {
                try {
                    this.matchupData = JSON.parse(resp.matchupData);
                } catch (e) {
                    console.error(e);
                }
            }
            this.tournamentMatchId = resp.tournamentMatchId;
            if (this.tournamentMatchId) {
                this.$http.get(`https://tournaments.hitmaps.com/api/match-score/${this.tournamentMatchId}`)
                    .then(innerResp => {
                        if (!this.reverseScore) {
                            this.playerOneScore = innerResp.data.player0;
                            this.playerTwoScore = innerResp.data.player1;
                        } else {
                            this.playerOneScore = innerResp.data.player1;
                            this.playerTwoScore = innerResp.data.player0;
                        }

                        if (this.playerOnePreviousScore === null || this.playerTwoPreviousScore === null) {
                            this.playerOnePreviousScore = this.playerOneScore;
                            this.playerTwoPreviousScore = this.playerTwoScore;
                        }

                    }).catch(err => console.error(err));
            }

            resp.formattedCurrentTime = resp.formattedCurrentTime.replace('+0000', 'Z');
            resp.formattedSpinTime = resp.formattedSpinTime.replace('+0000', 'Z');
            this.currentTime = new Date(resp.formattedCurrentTime);
            this.spinTime = new Date(resp.formattedSpinTime);
            this.endTime = this.calculateEndTime(this.spinTime, resp.matchLength);
            this.showTimer = resp.showTimer;
            if (this.playerName === resp.playerOneName) {
                this.reverseScore = false;
                this.playerOneName = resp.playerOneName;
                this.playerTwoName = resp.playerTwoName;
            } else {
                this.reverseScore = true;
                this.playerOneName = resp.playerTwoName;
                this.playerTwoName = resp.playerOneName;
            }

            // End-game
            if (this.completionStatus === 'PENDING' &&
                (resp.winner === 1 && resp.playerOneName === this.playerName || resp.winner === 2 && resp.playerTwoName === this.playerName)) {
                this.completionStatus = 'VICTORY';
            } else if (this.previousShow && (!this.matchupData || !this.matchupData.show) && (resp.winner === 1 && resp.playerTwoName === this.playerName || resp.winner === 2 && resp.playerOneName === this.playerName)) {
                this.completionStatus = 'DEFEAT';
            } else if (this.completionStatus === 'PENDING' &&
                ((resp.playerOneName === this.playerName && resp.formattedPlayerOneCompleteTime === null) || (resp.playerTwoName === this.playerName && resp.formattedPlayerTwoCompleteTime === null))) {
                this.completionStatus = 'REJECTED';
                alert('Your run was rejected! Consult Discord for more information.');
                setTimeout(() => this.completionStatus = null, 5000);
            }
            this.previousShow = this.matchupData && this.matchupData.show;

            this.updateTimer(true);
            this.ajaxTimerInterval = setTimeout(this.ajaxUpdate, 5000);
        },
        ajaxUpdate() {
            clearTimeout(this.ajaxTimerInterval);
            this.initializeMatchup();
        },
        calculateEndTime(spinTime, matchLength) {
            if (matchLength === 'NO TIME LIMIT') {
                return undefined;
            }

            const actualMatchLengthMinutes = parseInt(matchLength.substr(0, 2), 10);
            const endTime = new Date(spinTime.getTime());
            endTime.setMinutes(endTime.getMinutes() + actualMatchLengthMinutes);

            return endTime;
        },
        setupWebsocketsConnection() {
            const that = this;
            this.$wamp.subscribe(this.matchupId, (args, kwArgs, details) => {
                if (args.length) {
                    that.handleResponse(args[0].data);
                }
            });
        },
        updateTimer(skipAdvance) {
            if (!skipAdvance) {
                this.currentTime.setSeconds(this.currentTime.getSeconds() + 1);
            }

            this.pretime.inPretime = this.spinTime.getTime() - this.currentTime.getTime() > 0;
            this.timerInterval = setTimeout(this.updateTimer, 1000);
            this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
            this.playRelevantAudio();
        },
        getRemainingTimeInSeconds() {
            if (!this.endTime) {
                return -1;
            }

            const diff = this.endTime.getTime() - this.currentTime.getTime();
            return diff / 1000;
        },
        getRemainingPretimeInSeconds() {
            return (this.spinTime.getTime() - this.currentTime.getTime()) / 1000;
        },
        playRelevantAudio() {
            //region Pretime countdown
            switch (this.pretime.remainingPretimeInSeconds) {
                case 14:
                    const options = ['01_Announcer_MatchInitializedGetReady_ANNOUNCER_VERSUS_001',
                        '02_Announcer_MatchInitializedPrepare_ANNOUNCER_VERSUS_001'];
                    const chosenOption = options[Math.floor(Math.random() * Math.floor(2))];
                    this.playSound(chosenOption);
                    this.pretime.inCountdown = true;
                    break;
                case 12:
                    this.playSound('04_Announcer_MatchIntroDuel10Sec_ANNOUNCER_VERSUS_001');
                    this.pretime.inCountdown = true;
                    break;
                case 9:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001');
                    this.pretime.inCountdown = true;
                    break;
                case 8:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002');
                    this.pretime.inCountdown = true;
                    break;
                case 7:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003');
                    this.pretime.inCountdown = true;
                    break;
                case 6:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004');
                    this.pretime.inCountdown = true;
                    break;
                case 5:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_005');
                    this.pretime.inCountdown = true;
                    break;
                case 4:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_006');
                    this.pretime.inCountdown = true;
                    break;
                case 3:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_007');
                    this.pretime.inCountdown = true;
                    break;
                case 2:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_008');
                    this.pretime.inCountdown = true;
                    break;
                case 1:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_009');
                    this.pretime.inCountdown = true;
                    break;
                case 0:
                    if (this.pretime.inCountdown) {
                        this.playSound('10_Announcer_MatchStartEliminateTarget_ANNOUNCER_VERSUS_001');
                        this.pretime.inCountdown = false;
                    }
                    break;
                default:
                    break;
            }
            //endregion
            //region Regular Spin countdown
            switch (this.remainingTimeInSeconds) {
                case 15:
                    this.playSound('17_Announcer_TargetDespawn15Sec_ANNOUNCER_VERSUS_001');
                    break;
                case 10:
                    this.playSound('18_Announcer_TargetDespawn10Sec_ANNOUNCER_VERSUS_001');
                    break;
                case 5:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_005');
                    break;
                case 4:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_006');
                    break;
                case 3:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_007');
                    break;
                case 2:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_008');
                    break;
                case 1:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_009');
                    break;
                case 0:
                    this.playSound('19_Announcer_TargetLost_ANNOUNCER_VERSUS_001');
                    break;
            }
            //endregion
            //region Score changes
            const scoreToAudio = {
                0: ['52_Announcer_Score0_ANNOUNCER_VERSUS_001', '63_Announcer_To0_ANNOUNCER_VERSUS_001'],
                1: ['53_Announcer_Score1_ANNOUNCER_VERSUS_001', '64_Announcer_To1_ANNOUNCER_VERSUS_001'],
                2: ['54_Announcer_Score2_ANNOUNCER_VERSUS_001', '65_Announcer_To2_ANNOUNCER_VERSUS_001'],
                3: ['55_Announcer_Score3_ANNOUNCER_VERSUS_001', '66_Announcer_To3_ANNOUNCER_VERSUS_001'],
                4: ['56_Announcer_Score4_ANNOUNCER_VERSUS_001', '67_Announcer_To4_ANNOUNCER_VERSUS_001'],
                5: ['57_Announcer_Score5_ANNOUNCER_VERSUS_001', '68_Announcer_To5_ANNOUNCER_VERSUS_001'],
                6: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004'],
                7: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003'],
                8: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002'],
                9: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001']
            };
            if ((this.playerOneScore !== this.playerOnePreviousScore) ||
                (this.playerTwoScore !== this.playerTwoPreviousScore)) {

                if (this.playerOneScore < 3 && this.playerTwoScore < 3) {
                    this.playSound('51_Announcer_Score_ANNOUNCER_VERSUS_001');

                    setTimeout(() => {
                        this.playSound(scoreToAudio[this.playerOneScore][0])
                    }, 800);
                    setTimeout(() => {
                        this.playSound(scoreToAudio[this.playerTwoScore][1])
                    }, 1500);
                }

                this.playerOnePreviousScore = this.playerOneScore;
                this.playerTwoPreviousScore = this.playerTwoScore;

                if (this.playerOneScore < 6 && this.playerTwoScore < 6) {
                    if (this.playerOneScore > this.playerTwoScore) {
                        let audioFile = '27_Announcer_TallyStatusPositive_ANNOUNCER_VERSUS_001';
                        if (this.playerOneScore === 5) {
                            audioFile = '30_Announcer_TallyStatusPositiveMatchPoint_ANNOUNCER_VERSUS_001';
                        }
                        setTimeout(() => {
                            this.playSound(audioFile)
                        }, 2300);
                    } else if (this.playerOneScore === this.playerTwoScore) {
                        let audioFile = '28_Announcer_TallyStatusNeutral_ANNOUNCER_VERSUS_001';
                        if (this.playerOneScore === 5) {
                            audioFile = '50_Announcer_TallyStatusNeutralMatchPoint2_ANNOUNCER_VERSUS_001';
                        }
                        setTimeout(() => {
                            this.playSound(audioFile)
                        }, 2300);
                    } else {
                        let audioFile = '29_Announcer_TallyStatusNegative_ANNOUNCER_VERSUS_001';
                        if (this.playerTwoScore === 5) {
                            audioFile = '32_Announcer_TallyStatusNegativeMatchPoint_ANNOUNCER_VERSUS_001';
                        }

                        setTimeout(() => {
                            this.playSound(audioFile)
                        }, 2300);
                    }
                }
            }
            //endregion
            //region Victory or Defeat
            if (this.completionStatus === 'VICTORY') {
                this.playSound('33_Announcer_MatchWon_ANNOUNCER_VERSUS_001');
                this.completionStatus = null;
            } else if (this.completionStatus === 'DEFEAT') {
                this.playSound('35_Announcer_MatchLost_ANNOUNCER_VERSUS_001');
                this.completionStatus = null;
            }
            //endregion
        },
        playSound(soundName) {
            if (this.sounds[soundName].file.playing() || !this.tournamentMatchId) {
                return;
            }

            Howler.stop();

            this.sounds[soundName].file.play();
        },
        notifyCompletion() {
            if (this.completionStatus !== null ||
                !(this.matchupData && this.matchupData.show && !this.pretime.inPretime)) {
                console.log('[NOTIFY COMPLETION] No spin data displayed. Nothing to submit.');
                return;
            }

            this.completionStatus = 'SENDING';
            console.log('[NOTIFY COMPLETION] Sending completion information.');
            this.suppressStatusUpdate = true;
            this.$http.patch(`${this.$domain}/api/matchups/${this.matchupId}`, {
                action: 'complete',
                player: this.playerName
            }).then(resp => {
                this.completionStatus = 'PENDING';
                this.suppressStatusUpdate = false;
                console.info('[NOTIFY COMPLETION] Completion notification sent.');
            }).catch(err => {
                this.suppressStatusUpdate = false;
                console.error(err);
                this.completionStatus = null;
            });
        }
    },
    mounted() {
        this.initAudio();
        this.initializeMatchup();
        this.setupWebsocketsConnection();
    },
};
</script>
