<template>
    <div class="body">
        <div class="top">
            <div class="name-and-score left">
                <div class="finished" :class="tournament.players[0].finished ? 'slide-in' : 'slide-out'">
                    FINISHED!
                </div>
                <div class="player-name" ref="playerOne">
                    <img :src="tournament.hitmapsMatch.participants[0].avatarUrl" alt="Player One Avatar">
                    {{ playerOneName }}
                </div>
                <div class="match-point">
                    <div class="top-line" :class="playerOneScore > 4 && playerTwoScore < 6 ? 'visible' : ''">&nbsp;</div>
                    <div class="slider" :class="playerOneScore > 4 && playerTwoScore < 6 ? 'visible' : ''">
                        <template v-if="playerOneScore < 6">MATCH POINT</template>
                        <template v-else>WINNER</template>
                    </div>
                    <div class="bottom-line" :class="playerOneScore > 4 && playerTwoScore < 6 ? 'visible' : ''"></div>
                </div>
                <div class="score">
                    {{ playerOneScore }}
                </div>
            </div>
            <div class="targets" v-if="matchupData && matchupData.show && !pretime.inPretime">
                <div class="row overlay normal" v-if="matchupData.spinResults.length < 3">
                    <div class="overlay-targets">
                        <div class="row">
                            <div class="target" v-if="matchupData.spinResults.length === 1" :style="{
                    background: `url('${matchupData.locationTileUrl}') center center / cover no-repeat`
                }">
                            </div>
                            <div class="target" v-for="(spinResult, index) in matchupData.spinResults">
                                <div class="hitman-card">
                                    <div class="white-panel target-info" :style="{
                                        background: `url(${spinResult.target.tileUrl}) center -50px / cover no-repeat`
                                    }">
                                        <div class="image">
                                            <game-icon icon="target" font-style="solid" style="color: white; font-size: 24px" />
                                        </div>
                                        <div class="text">
                                            <h2>Target</h2>
                                            <h1>{{ spinResult.target.name }}</h1>
                                        </div>
                                    </div>
                                    <div class="white-panel kill-method">
                                        <div class="image">
                                            <game-icon icon="difficulty-casual" font-style="solid" style="color: black; font-size: 24px" />
                                        </div>
                                        <div class="text">
                                            <h2>Eliminate Using</h2>
                                            <h1>
                                                <template v-if="spinResult.killMethod.variants &&
                                                                spinResult.killMethod.variants.some(x => x.chosen)">
                                                    {{ spinResult.killMethod.variants.find(x => x.chosen).name }}
                                                </template>
                                                {{ spinResult.killMethod.name }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="white-panel disguise" v-if="matchupData.criteriaFilters.specificDisguises.selected">
                                        <div class="image">
                                            <game-icon icon="disguise" font-style="solid" style="color: black; font-size: 24px" />
                                        </div>
                                        <div class="text">
                                            <h2>Wear Disguise</h2>
                                            <h1>{{ spinResult.disguise.name }}</h1>
                                        </div>
                                    </div>
                                    <div class="white-panel images">
                                        <div class="kill-method" :style="{
                                background: `url('${spinResult.killMethod.tileUrl}') center center / cover no-repeat`
                            }">
                                            &nbsp;
                                        </div>
                                        <div class="disguise" :style="{
                                background: `url('${spinResult.disguise.tileUrl}') center -20px / cover no-repeat`
                            }">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row overlay compact" v-else-if="matchupData.spinResults.length < 5">
                    <div class="overlay-targets">
                        <div class="row">
                            <div class="target" v-for="(spinResult, index) in matchupData.spinResults">
                                <div class="hitman-card landscape" :style="{
                            background: `url(${spinResult.target.tileUrl}) -95px center / cover no-repeat`
                        }">
                                    <div class="white-panel target-info">
                                        <div style="display: flex">
                                            <div class="image">
                                                <game-icon icon="target" font-style="solid" style="color: white; font-size: inherit" />
                                            </div>
                                            <div class="text">
                                                <h2>Target</h2>
                                                <h1>{{ spinResult.target.name }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="flex-grow: 1">
                                        <div class="white-panel kill-method">
                                            <div class="image">
                                                <game-icon icon="difficulty-casual" font-style="solid" style="color: black; font-size: inherit" />
                                            </div>
                                            <div class="text">
                                                <h2>Eliminate Using</h2>
                                                <h1>
                                                    <template v-if="spinResult.killMethod.variants &&
                                                                    spinResult.killMethod.variants.some(x => x.chosen)">
                                                        {{ spinResult.killMethod.variants.find(x => x.chosen).name }}
                                                    </template>
                                                    {{ spinResult.killMethod.name }}
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="white-panel disguise" v-if="matchupData.criteriaFilters.specificDisguises.selected">
                                            <div class="image">
                                                <game-icon icon="disguise" font-style="solid" style="color: black; font-size: inherit" />
                                            </div>
                                            <div class="text">
                                                <h2>Wear Disguise</h2>
                                                <h1>{{ spinResult.disguise.name }}</h1>
                                            </div>
                                        </div>
                                        <div class="white-panel images">
                                            <div class="kill-method" :style="{
                                    background: `url('${spinResult.killMethod.tileUrl}') center center / cover no-repeat`
                                }">
                                                &nbsp;
                                            </div>
                                            <div class="disguise" :style="{
                                    background: `url('${spinResult.disguise.tileUrl}') center center / cover no-repeat`
                                }">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="target" v-if="matchupData.spinResults.length === 3" :style="{
                    background: `url(/img/3-target-overlay.png) center center / cover no-repeat`
                }">
                                <div class="hitman-card"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row overlay uber-compact" v-else-if="matchupData.spinResults.length === 5">
                    <div class="overlay-targets">
                        <div class="row">
                            <div class="target" v-for="(spinResult, index) in matchupData.spinResults">
                                <div class="hitman-card landscape">
                                    <div style="flex-grow: 1">
                                        <div class="white-panel target-info" :style="{
                                        background: `url(${spinResult.target.tileUrl}) center center / cover no-repeat`
                                    }">
                                            <div class="image">
                                                <game-icon icon="target" font-style="solid" style="color: white; font-size: 24px" />
                                            </div>
                                            <div class="text">
                                                <h2>Target</h2>
                                                <h1>{{ spinResult.target.name }}</h1>
                                            </div>
                                        </div>
                                        <div class="white-panel kill-method">
                                            <div class="image">
                                                <game-icon icon="difficulty-casual" font-style="solid" style="color: black; font-size: 24px" />
                                            </div>
                                            <div class="text">
                                                <h2>Eliminate Using</h2>
                                                <h1>
                                                    <template v-if="spinResult.killMethod.variants &&
                                                                    spinResult.killMethod.variants.some(x => x.chosen)">
                                                        {{ spinResult.killMethod.variants.find(x => x.chosen).name }}
                                                    </template>
                                                    {{ spinResult.killMethod.name }}
                                                </h1>
                                            </div>
                                            <div class="other-image">
                                                <img :src="spinResult.killMethod.tileUrl" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="white-panel disguise" v-if="matchupData.criteriaFilters.specificDisguises.selected">
                                            <div class="image">
                                                <game-icon icon="disguise" font-style="solid" style="color: black; font-size: 24px" />
                                            </div>
                                            <div class="text">
                                                <h2>Wear Disguise</h2>
                                                <h1>{{ spinResult.disguise.name }}</h1>
                                            </div>
                                            <div class="other-image">
                                                <img :src="spinResult.disguise.tileUrl" class="img-fluid">
                                            </div>
                                        </div>
                                        <!--<div class="white-panel images">
                                            <div class="kill-method" :style="{
                                    background: `url('${spinResult.killMethod.tileUrl}') center center / cover no-repeat`
                                }">
                                                &nbsp;
                                            </div>
                                            <div class="disguise" :style="{
                                    background: `url('${spinResult.disguise.tileUrl}') center center / cover no-repeat`
                                }">
                                                &nbsp;
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="target" style="flex-direction: column">
                                <div class="row timer compact">
                                    <div class="overlay-timer above" :class="progressColor" :style="'width: ' + progressPercentage"><!-- Intentionally left blank --></div>
                                    <div class="overlay-timer below">
                                        <div class="row remaining-time">
                                            <div class="col">
                                                <div class="text">
                                                    <template>
                                                        <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
                                                        <div class="timer" v-else>
                                                            +{{ getFormattedTime(this.elapsedTimeInSeconds) }}
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row timer" v-if="matchupData.spinResults.length !== 5">
                    <div class="overlay-timer above" :class="progressColor" :style="'width: ' + progressPercentage"><!-- Intentionally left blank --></div>
                    <div class="overlay-timer below">
                        <div class="row remaining-time">
                            <div class="col">
                                <div class="text">
                                    <template>
                                        <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
                                        <div class="timer" v-else>
                                            <div class="row">
                                                <div class="col">
                                                    +{{ getFormattedTime(this.elapsedTimeInSeconds) }}
                                                </div>
                                                <div class="col record-info" v-if="elapsedTimeInSeconds > 3659">
                                                    Longest Decider: 70:59<br>(RR4, Gorg v Foppr)
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="targets" v-else-if="pretime.inPretime">
                <div class="row overlay waiting" :style="{
        background: `url(${matchupData.locationTileUrl}) center center / cover no-repeat`
    }">
                    <div class="players pretime">
                        <div class="col">
                            <i class="fad fa-hourglass"></i>
                            <div class="text">
                                <template>
                                    <p>SPIN ARRIVES IN</p>
                                    <div class="timer">{{ getFormattedTime(pretime.remainingPretimeInSeconds) }}</div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="targets" v-else>
                <div class="row overlay waiting logo-only">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="name-and-score right">
                <div class="finished" :class="tournament.players[1].finished ? 'slide-in' : 'slide-out'">
                    FINISHED!
                </div>
                <div class="player-name" ref="playerTwo">
                    <img :src="tournament.hitmapsMatch.participants[1].avatarUrl" alt="Player Two Avatar">
                    {{ playerTwoName }}
                </div>
                <div class="match-point">
                    <div class="top-line" :class="playerTwoScore > 4 && playerOneScore < 6 ? 'visible' : ''">&nbsp;</div>
                    <div class="slider" :class="playerTwoScore > 4 && playerOneScore < 6 ? 'visible' : ''">
                        <template v-if="playerTwoScore < 6">MATCH POINT</template>
                        <template v-else>WINNER</template>
                    </div>
                    <div class="bottom-line" :class="playerTwoScore > 4 && playerOneScore < 6 ? 'visible' : ''"></div>
                </div>
                <div class="score">
                    {{ playerTwoScore }}
                </div>
            </div>
        </div>
        <div class="bottom" v-if="matchupData">
            <div class="map-pick">
                <div class="map-name">
                    <span>{{ missionsToLocations[matchupData.missionName] }}</span>
                </div>
                <div class="chosen-by">
                    <span v-if="matchupData.missionName === mapOne">{{ playerOneName }}</span>
                    <span v-else-if="matchupData.missionName === mapTwo">{{ playerTwoName }}</span>
                    <span v-else>RNG</span>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    /*
    WIDTH: 1920px
    HEIGHT: 384px
     */
    .body {
        font-family: 'nimbus_sans_lbold', sans-serif;
        margin-left: 5px;

        .top {
            display: flex;
            height: 316px;
        }
    }

    @keyframes flash {
        0%,
        49% {
            visibility: visible;
        }
        50%,
        100% {
            visibility: hidden;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }

    .name-and-score {
        width: 605px;
        height: 316px;
        color: #000;
        text-align: center;
        position: relative;

        .match-point {
            font-size: 24px;
            height: 36px;
            color: black;
            position: relative;

            .top-line {
                position: absolute;
                width: 98.7%;
                top: 0;
                left: 0;
                background: black;
                height: 2px;
                opacity: 0;
                transition: opacity 1s ease;

                &.visible {
                    opacity: 1;
                    transition: opacity 1s ease;
                }
            }

            .slider {
                position: absolute;
                width: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                height: 34px;
                transition: 1s;
                opacity: 0;
                color: black;

                &.visible {
                    opacity: 1;
                    transition: opacity 1s ease;
                }
            }

            .bottom-line {
                position: absolute;
                width: 98.7%;
                top: 36px;
                left: 0;
                background: black;
                height: 2px;
                transition: opacity 1s ease;
                opacity: 0;

                &.visible {
                    opacity: 1;
                    transition: opacity 1s ease;
                }
            }
        }

        &.left {
            .finished {
                background: rgb(238,238,238);
                background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
                left: 1px;
                width: 595px;
            }
        }

        &.right {
            .finished {
                background: rgb(238,238,238);
                background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
                left: 1px;
                width: 596px;
            }
        }

        .finished {
            height: 147px;
            width: 620px;
            position: absolute;
            top: -147px;
            text-align: center;
            transition: 1s;

            font-size: 56px;
            padding: 32px 24px;

            &.slide-in {
                /*animation: slide-in 1s forwards;*/
                top: 0;
                transition: 1s;
            }

            &.slide-out {
                /*animation: slide-out 1s forwards;*/
            }
        }

        .player-name {
            font-size: 56px;
            margin-top: 32px;
            padding-left: 24px;
            padding-right: 24px;
            height: 84px;

            img {
                height: 80px;
                width: 80px;
                vertical-align: text-top;
            }
        }

        .score {
            margin-top: 30px;
            font-size: 72px;
        }
    }

    .bottom {
        height: 79px;

        .map-pick {
            color: #000;
            font-size: 50px;
            margin-top: 0;

            .map-name {
                display: inline-block;
                text-align: right;
                width: 816px;
            }

            .chosen-by {
                display: inline-block;
                text-align: left;
                margin-left: 282px;
            }
        }
    }

    .row {
        &.overlay {
            min-width: 700px;
            max-width: 700px;

            &.solo {
                min-width: 700px;
                max-width: 700px;

                .overlay-targets {
                    min-width: 700px;
                    max-width: 700px;

                    .target .hitman-card {
                        width: 232px;
                        height: 264px;

                        &.compact {
                            width: 232px;
                        }

                        .white-panel {
                            &.target-info {
                                height: 264px;
                            }

                            &.kill-method, &.disguise {
                                height: 132px;
                            }

                            &.images {
                                height: 132px;
                                width: 232px;
                            }
                        }
                    }
                }
            }

            .white-panel.images {
                height: 82px;

                .kill-method, .disguise {
                    height: 82px;
                    width: 175px;
                }
            }

            &.compact {
                .target .hitman-card {
                    min-height: 132px;
                    max-height: 132px;
                    min-width: 350px;
                    max-width: 350px;

                    &.landscape {
                        flex-direction: row;

                        .target-info {
                            height: 132px;
                            width: 162px;
                        }

                        .white-panel.images {
                            height: 54px;

                            .kill-method, .disguise {
                                height: 54px;
                                width: 94px;
                            }
                        }
                    }
                }
            }

            &.uber-compact {
                .target .hitman-card {
                    min-height: 158px;
                    max-height: 158px;
                    min-width: 233px;
                    max-width: 233px;

                    &.landscape {
                        flex-direction: row;

                        .target-info {
                            height: 57px;
                            width: 233px;
                        }

                        .kill-method, .disguise {
                            height: 50px;
                        }

                        .other-image > img {
                            max-height: 50px;
                        }
                    }
                }
            }

            &.waiting {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 700px;
                max-width: 700px;
                height: 316px;
                font-size: 26px;
                position: relative;
                overflow: hidden;
                font-family: 'GoBold', sans-serif;
                background: url('/img/rr4_idler.gif') center center / cover no-repeat;
                color: white;
                text-shadow: 0 0 10px #000;

                &.logo-only {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 0;
                        /*background: url('/img/overlay-logo.png') no-repeat center center;*/
                    }
                }

                > div {
                    &.players {
                        text-align: center;
                    }

                    .spinner-grow {
                        vertical-align: middle;
                    }
                }

                .pretime {
                    height: 100%;
                    color: white;
                    text-shadow: 0 0 10px #000;

                    .col {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0;
                        height: 100%;

                        .fa-hourglass {
                            position: absolute;
                            z-index: 0;
                            left: 284px;
                            top: 75px;
                            color: rgba(255, 255, 255, .8);
                            font-size: 154px;
                            transition: color 0.5s ease;

                            &.hourglass-green {
                                color: rgba(0, 255, 0, .1);
                            }

                            &.hourglass-yellow {
                                color: rgba(212, 175, 55, .4);
                            }

                            &.hourglass-red {
                                color: rgba(255, 0, 0, .2);

                                &.flash {
                                    animation: flash 2s linear infinite;
                                }

                                &.shake {
                                    animation: shake .25s linear infinite;
                                }
                            }
                        }
                    }

                    > div {
                        text-align: center;

                        .timer {
                            font-size: 59px;
                        }

                        .text {
                            z-index: 2;

                            p {
                                text-transform: uppercase;
                                margin: 0;
                                font-size: 26px;
                            }
                        }
                    }
                }
            }

            &.normal {
                .overlay-targets {
                    min-width: 700px;
                    max-width: 700px;

                    .row {
                        flex-wrap: nowrap;

                        .target {
                            width: 350px;
                            height: 264px;
                        }
                    }
                }
            }
        }

        &.timer {
            min-width: 700px;
            max-width: 700px;
            min-height: 53px;
            max-height: 53px;
            text-align: center;
            position: relative;

            .record-info {
                font-size: 15px;
            }

            &.compact {
                min-height: 158px;
                max-height: 158px;
                min-width: 233px;
                max-width: 233px;

                .overlay-timer {
                    &.above {
                        height: 158px;
                    }

                    &.below {
                        height: 158px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .remaining-time {
                        font-size: 70px;
                    }
                }
            }

            .overlay-timer {
                &.above {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: background 1s ease-in-out;

                    &.green {
                        background: green;
                    }

                    &.yellow {
                        background: orange;
                    }

                    &.red {
                        background: red;
                    }
                }

                &.below {
                    width: 100%;
                    background: #292929;
                    color: white;
                    height: 53px;
                }

                .remaining-time {
                    font-size: 31px;
                }
            }

            img {
                margin-top: 5px;
                height: 42px;
            }
        }
    }

    .targets {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .row {
            margin-left: 0;
            margin-right: 0;

            .col-lg-4, .col-xl-3, .col-md-6, .col-xs-12 {
                padding-right: 0;
                padding-left: 0;
            }

            .target {
                display: flex;
            }
        }

        .hitman-card {
            display: flex;
            flex-direction: column;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            flex-grow: 1;

            > p:first-child {
                flex-grow: 1;
            }

            .white-panel {
                color: #000;
                display: flex;

                .image {
                    margin-right: 3px;

                    img {
                        height: 25px;
                        width: 25px;
                        vertical-align: text-bottom;
                    }
                }

                .text {
                    text-transform: uppercase;
                    flex-grow: 1;
                    align-self: center;
                }

                .divider {
                    border-left: solid 1px #ddd;
                }

                .respin {
                    align-self: center;

                    > a {
                        padding: 15px 8px 15px;
                        color: #000;

                        &:hover {
                            background: rgba(0,0,0,.05);
                        }
                    }
                }

                &.target-info {
                    padding: 8px;
                    border-right: solid 1px #ddd;
                    height: 104px;
                    align-items: flex-end;

                    .text {
                        align-self: inherit;
                        text-shadow: 0 0 10px #000;

                        h2 {
                            font-size: 9px;
                            margin-bottom: 0;
                            color: white;
                        }

                        h1 {
                            font-size: 11px;
                            margin-bottom: 0;
                            color: white;
                        }
                    }
                }

                &.kill-method,
                &.disguise {
                    border-top: solid 1px #ccc;
                    border-right: solid 1px #ddd;
                    background: #eee;

                    .image {
                        margin: 12px 3px 6px 6px;
                    }

                    .text {
                        text-transform: none;

                        h2 {
                            font-size: 9px;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 11px;
                            margin-bottom: 0;
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        background-color: #888;

                        .col {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'GoBold';
        src: url('/fonts/gobold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<script>
    import fitty from 'fitty';
    import GameIcon from "@/components/GameIcon";

    export default {
        name: 'tournament-overlay',
        components: {
            GameIcon
        },
        props: {
            matchupId: String
        },
        data() {
            return {
                matchupData: null,
                spinTime: null,
                endTime: null,
                currentTime: null,
                timerInterval: null,
                ajaxTimerInterval: null,
                remainingTimeInSeconds: null,
                elapsedTimeInSeconds: null,
                showTimer: true,
                pretime: {
                    inPretime: false,
                    remainingPretimeInSeconds: 0
                },
                status: {
                    color: null,
                    text: null
                },
                players: {
                    playerOne: null,
                    playerTwo: null
                },
                tournamentMatchId: null,
                playerOneScore: 0,
                playerTwoScore: 0,
                playerOneName: null,
                playerTwoName: null,
                mapOne: null,
                mapOneLocation: null,
                mapTwo: null,
                mapTwoLocation: null,
                missionsToLocations: {},
                tournament: {
                    hitmapsMatch: null,
                    players: [
                        {
                            prevScore: 0,
                            score: 0,
                            name: '',
                            finished: null,
                            winner: false
                        },
                        {
                            prevScore: 0,
                            score: 0,
                            name: '',
                            finished: null,
                            winner: false
                        }
                    ]
                }
            };
        },
        computed: {
            // tslint:disable-next-line
            progressColor: function() {
                if (this.matchupData.matchDuration === '-1') {
                    return '';
                }

                const halfTime = this.matchupData.matchDuration * 30; // 60 / 2
                const nearEnd = this.matchupData.matchDuration * 10; // 60 / 6

                if (this.remainingTimeInSeconds > halfTime) {
                    return 'green';
                }
                if (this.remainingTimeInSeconds > nearEnd) {
                    return 'yellow';
                }
                if (this.remainingTimeInSeconds > 60) {
                    return 'red';
                }
                if (this.remainingTimeInSeconds > 0) {
                    return 'red flash';
                }

                return 'red';
            },
            // tslint:disable-next-line
            progressPercentage: function() {
                const duration = this.matchupData.matchDuration * 60;
                const percentage = Math.ceil(this.remainingTimeInSeconds / duration * 100);

                return `${percentage}%`;
            },
            elapsedTimeInSeconds: () => Math.floor((new Date() - new Date(this.matchupData.matchTime)) / 1000)
        },
        methods: {
            initializeMatchup() {
                this.$http
                    .get(`${this.$domain}/api/matchups/${this.matchupId}`)
                    .then(resp => {
                        this.handleResponse(resp.data);
                    })
                    .catch(err => {
                        console.error(err);
                    });
            },
            loadMissionLocations() {
                this.$http.get('https://www.hitmaps.com/api/v1/games/hitman2/locations').then(resp => {
                    for (const location of resp.data) {
                        const locationName = location.destination;
                        for (const mission of location.missions) {
                            this.missionsToLocations[mission.name] = locationName;
                        }
                    }
                });
                this.$http.get('https://www.hitmaps.com/api/v1/games/hitman/locations').then(resp => {
                    for (const location of resp.data) {
                        const locationName = location.destination;
                        for (const mission of location.missions) {
                            this.missionsToLocations[mission.name] = locationName;
                        }
                    }
                });
                this.$http.get('https://www.hitmaps.com/api/v1/games/hitman3/locations').then(resp => {
                    for (const location of resp.data) {
                        const locationName = location.destination;
                        for (const mission of location.missions) {
                            this.missionsToLocations[mission.name] = locationName;
                        }
                    }
                });
            },
            handleResponse(resp) {
                clearTimeout(this.timerInterval);
                clearTimeout(this.ajaxTimerInterval);
                /*
                    {
                        "id": 1,
                        "matchupId": "slkfjslkdjg",
                        "playerOneName": "PlayerName",
                        "playerTwoName': "PlayerName",
                        "matchupData": "{...}"
                    }
                 */
                if (!resp.matchupData) {
                    console.info('No matchup data');
                } else {
                    try {
                        this.matchupData = JSON.parse(resp.matchupData);
                    } catch (e) {
                        console.error(e);
                    }
                }

                this.tournamentMatchId = resp.tournamentMatchId;
                if (this.tournamentMatchId) {
                    this.$http.get(`https://tournaments.hitmaps.com/api/match-score/${this.tournamentMatchId}`)
                        .then(innerResp => {
                            this.playerOneScore = innerResp.data.player0;
                            this.playerTwoScore = innerResp.data.player1;
                        }).catch(err => console.error(err));
                    this.$http.get(`https://tournaments.hitmaps.com/api/tournaments/rr4/matches/${this.tournamentMatchId}`)
                        .then(resp => {
                            this.mapOne = resp.data.firstMap.mission;
                            this.mapOneLocation = resp.data.firstMap.location;
                            this.mapTwo = resp.data.secondMap.mission;
                            this.mapTwoLocation = resp.data.secondMap.location;
                            this.tournament.hitmapsMatch = resp.data;
                        });
                }

                this.currentTime = new Date(resp.formattedCurrentTime);
                this.spinTime = new Date(resp.formattedSpinTime);
                this.endTime = this.calculateEndTime(this.spinTime, resp.matchLength);
                this.showTimer = resp.showTimer;
                this.playerOneName = resp.playerOneName;
                this.playerTwoName = resp.playerTwoName;

                if (resp.formattedPlayerOneCompleteTime) {
                    this.tournament.players[0].finished = new Date(resp.formattedPlayerOneCompleteTime);
                } else {
                    this.tournament.players[0].finished = null;
                }

                if (resp.formattedPlayerTwoCompleteTime) {
                    this.tournament.players[1].finished = new Date(resp.formattedPlayerTwoCompleteTime);
                } else {
                    this.tournament.players[1].finished = null;
                }

                if (resp.winner) {
                    this.tournament.players[resp.winner - 1].winner = true;
                    this.tournament.players[(resp.winner === 1 ? 1 : 0)].winner = false;
                } else {
                    this.tournament.players[0].winner = false;
                    this.tournament.players[1].winner = false;
                }

                this.updateTimer(true);
                this.ajaxTimerInterval = setTimeout(this.ajaxUpdate, 5000);
            },
            ajaxUpdate() {
                clearTimeout(this.ajaxTimerInterval);
                this.initializeMatchup();
            },
            calculateEndTime(spinTime, matchLength) {
                if (matchLength === 'NO TIME LIMIT') {
                    return undefined;
                }

                const actualMatchLengthMinutes = parseInt(matchLength.substr(0, 2), 10);
                const endTime = new Date(spinTime.getTime());
                endTime.setMinutes(endTime.getMinutes() + actualMatchLengthMinutes);

                return endTime;
            },
            getFormattedTime(time) {
                const minutes = parseInt(time / 60, 10);
                const seconds = parseInt(time % 60, 10);

                return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
            },
            formatTimerValue(value) {
                if (value < 0) {
                    return '00';
                }
                const formattedValue = Math.abs(value);

                return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
            },
            setupWebsocketsConnection() {
                const that = this;
                this.$wamp.subscribe(this.matchupId, (args, kwArgs, details) => {
                    if (args.length) {
                        that.handleResponse(args[0].data);
                    }
                });
            },
            updateTimer(skipAdvance) {
                if (!skipAdvance) {
                    this.currentTime.setSeconds(this.currentTime.getSeconds() + 1);
                }

                this.pretime.inPretime = this.spinTime.getTime() - this.currentTime.getTime() > 0;
                this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
                this.timerInterval = setTimeout(this.updateTimer, 1000);
                this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
                this.elapsedTimeInSeconds = this.getElapsedTimeInSeconds();
            },
            getRemainingTimeInSeconds() {
                if (!this.endTime) {
                    return -1;
                }

                const diff = this.endTime.getTime() - this.currentTime.getTime();
                return diff / 1000;
            },
            getElapsedTimeInSeconds() {
                const diff = this.currentTime.getTime() - this.spinTime.getTime();
                return diff / 1000;
            },
            getRemainingPretimeInSeconds() {
                return (this.spinTime.getTime() - this.currentTime.getTime()) / 1000;
            }
        },
        mounted() {
            this.loadMissionLocations();
            this.initializeMatchup();
            this.setupWebsocketsConnection();
            fitty(this.$refs.playerOne, {
                minSize: 20,
                maxSize: 56
            });
            fitty(this.$refs.playerTwo, {
                minSize: 20,
                maxSize: 56
            });
        },
    };
</script>
